openapi: 3.0.1
info:
  title: Dungeons and Trolls
  version: "1.0"
externalDocs:
  description: More about Dungeons and trolls
  url: https://github.com/gdg-garage/dungeons-and-trolls
servers:
- url: https://dt.garage-trip.cz/
security:
- ApiKeyAuth: []
tags:
- name: DungeonsAndTrolls
paths:
  /v1/buy:
    post:
      tags:
      - DungeonsAndTrolls
      summary: |-
        Buy Items identified by the provided ID for the Character bound to the
        logged user.
      operationId: DungeonsAndTrolls_Buy
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/dungeonsandtrollsIdentifiers'
        required: true
      responses:
        "200":
          description: A successful response.
          content:
            application/json:
              schema:
                type: object
                x-content-type: application/json
        "403":
          description: Returned when the user does not have permission to access the
            resource.
          content:
            application/json:
              schema:
                type: object
                x-content-type: application/json
        "404":
          description: Returned when the resource does not exist.
          content:
            application/json:
              schema:
                type: object
                x-content-type: application/json
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      x-codegen-request-body-name: body
  /v1/commands:
    post:
      tags:
      - DungeonsAndTrolls
      summary: |-
        Send multiple commands to the Character bound to the logged user. The order
        of execution is defined in the message.
      operationId: DungeonsAndTrolls_Commands
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/dungeonsandtrollsCommandsBatch'
        required: true
      responses:
        "200":
          description: A successful response.
          content:
            application/json:
              schema:
                type: object
                x-content-type: application/json
        "403":
          description: Returned when the user does not have permission to access the
            resource.
          content:
            application/json:
              schema:
                type: object
                x-content-type: application/json
        "404":
          description: Returned when the resource does not exist.
          content:
            application/json:
              schema:
                type: object
                x-content-type: application/json
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      x-codegen-request-body-name: body
  /v1/game:
    get:
      tags:
      - DungeonsAndTrolls
      summary: Sends all info about the game.
      operationId: DungeonsAndTrolls_Game
      parameters:
      - name: ascii
        in: query
        description: default false
        required: false
        style: form
        explode: true
        schema:
          type: boolean
      - name: events
        in: query
        description: default false
        required: false
        style: form
        explode: true
        schema:
          type: boolean
      - name: blocking
        in: query
        description: default true
        required: false
        style: form
        explode: true
        schema:
          type: boolean
      responses:
        "200":
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dungeonsandtrollsGameState'
        "403":
          description: Returned when the user does not have permission to access the
            resource.
          content:
            application/json:
              schema:
                type: object
                x-content-type: application/json
        "404":
          description: Returned when the resource does not exist.
          content:
            application/json:
              schema:
                type: object
                x-content-type: application/json
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
  /v1/monsters-commands:
    post:
      tags:
      - DungeonsAndTrolls
      summary: Control monsters. Admin only.
      operationId: DungeonsAndTrolls_MonstersCommands
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/dungeonsandtrollsCommandsForMonsters'
        required: true
      responses:
        "200":
          description: A successful response.
          content:
            application/json:
              schema:
                type: object
                x-content-type: application/json
        "403":
          description: Returned when the user does not have permission to access the
            resource.
          content:
            application/json:
              schema:
                type: object
                x-content-type: application/json
        "404":
          description: Returned when the resource does not exist.
          content:
            application/json:
              schema:
                type: object
                x-content-type: application/json
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      x-codegen-request-body-name: body
  /v1/move:
    post:
      tags:
      - DungeonsAndTrolls
      summary: |-
        Assign skill point to the attribute for the Character bound to the logged
        user.
      operationId: DungeonsAndTrolls_Move
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/dungeonsandtrollsCoordinates'
        required: true
      responses:
        "200":
          description: A successful response.
          content:
            application/json:
              schema:
                type: object
                x-content-type: application/json
        "403":
          description: Returned when the user does not have permission to access the
            resource.
          content:
            application/json:
              schema:
                type: object
                x-content-type: application/json
        "404":
          description: Returned when the resource does not exist.
          content:
            application/json:
              schema:
                type: object
                x-content-type: application/json
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      x-codegen-request-body-name: body
  /v1/pick-up:
    post:
      tags:
      - DungeonsAndTrolls
      summary: |-
        Equip the Item from the ground identified by the provided ID for the Character bound to the
        logged user (unused).
      operationId: DungeonsAndTrolls_PickUp
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/dungeonsandtrollsIdentifier'
        required: true
      responses:
        "200":
          description: A successful response.
          content:
            application/json:
              schema:
                type: object
                x-content-type: application/json
        "403":
          description: Returned when the user does not have permission to access the
            resource.
          content:
            application/json:
              schema:
                type: object
                x-content-type: application/json
        "404":
          description: Returned when the resource does not exist.
          content:
            application/json:
              schema:
                type: object
                x-content-type: application/json
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      x-codegen-request-body-name: body
  /v1/register:
    post:
      tags:
      - DungeonsAndTrolls
      summary: Register provided User to the Game and create a character.
      operationId: DungeonsAndTrolls_Register
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/dungeonsandtrollsUser'
        required: true
      responses:
        "200":
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dungeonsandtrollsRegistration'
        "403":
          description: Returned when the user does not have permission to access the
            resource.
          content:
            application/json:
              schema:
                type: object
                x-content-type: application/json
        "404":
          description: Returned when the resource does not exist.
          content:
            application/json:
              schema:
                type: object
                x-content-type: application/json
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      x-codegen-request-body-name: body
  /v1/respawn:
    post:
      tags:
      - DungeonsAndTrolls
      summary: Respawn the Character bound to the logged user.
      operationId: DungeonsAndTrolls_Respawn
      requestBody:
        content:
          application/json:
            schema:
              type: object
        required: true
      responses:
        "200":
          description: A successful response.
          content:
            application/json:
              schema:
                type: object
                x-content-type: application/json
        "403":
          description: Returned when the user does not have permission to access the
            resource.
          content:
            application/json:
              schema:
                type: object
                x-content-type: application/json
        "404":
          description: Returned when the resource does not exist.
          content:
            application/json:
              schema:
                type: object
                x-content-type: application/json
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      x-codegen-request-body-name: body
  /v1/skill:
    post:
      tags:
      - DungeonsAndTrolls
      summary: |-
        Use a skill (provided by an item) by the Character bound to the logged
        user.
      operationId: DungeonsAndTrolls_Skill
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/dungeonsandtrollsSkillUse'
        required: true
      responses:
        "200":
          description: A successful response.
          content:
            application/json:
              schema:
                type: object
                x-content-type: application/json
        "403":
          description: Returned when the user does not have permission to access the
            resource.
          content:
            application/json:
              schema:
                type: object
                x-content-type: application/json
        "404":
          description: Returned when the resource does not exist.
          content:
            application/json:
              schema:
                type: object
                x-content-type: application/json
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      x-codegen-request-body-name: body
  /v1/yell:
    post:
      tags:
      - DungeonsAndTrolls
      summary: |-
        The Character bound to the logged user yells a messages (visible for
        everyone).
      operationId: DungeonsAndTrolls_Yell
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/dungeonsandtrollsMessage'
        required: true
      responses:
        "200":
          description: A successful response.
          content:
            application/json:
              schema:
                type: object
                x-content-type: application/json
        "403":
          description: Returned when the user does not have permission to access the
            resource.
          content:
            application/json:
              schema:
                type: object
                x-content-type: application/json
        "404":
          description: Returned when the resource does not exist.
          content:
            application/json:
              schema:
                type: object
                x-content-type: application/json
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      x-codegen-request-body-name: body
components:
  schemas:
    SkillTarget:
      type: string
      default: none
      enum:
      - none
      - position
      - character
      - item
    dungeonsandtrollsAttributes:
      type: object
      properties:
        strength:
          type: number
          format: float
        dexterity:
          type: number
          format: float
        intelligence:
          type: number
          format: float
        willpower:
          type: number
          format: float
        constitution:
          type: number
          format: float
        slashResist:
          type: number
          format: float
        pierceResist:
          type: number
          format: float
        fireResist:
          type: number
          format: float
        poisonResist:
          type: number
          format: float
        electricResist:
          type: number
          format: float
        life:
          type: number
          format: float
        stamina:
          type: number
          format: float
        mana:
          type: number
          format: float
        scalar:
          type: number
          format: float
      example:
        slashResist: 7.386282
        electricResist: 6.846853
        fireResist: 1.0246457
        constitution: 4.145608
        strength: 7.0614014
        willpower: 2.027123
        pierceResist: 1.2315135
        stamina: 1.1730742
        life: 7.4577446
        intelligence: 3.6160767
        dexterity: 9.301444
        scalar: 5.025005
        poisonResist: 1.4894159
        mana: 4.9652185
    dungeonsandtrollsCharacter:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        attributes:
          $ref: '#/components/schemas/dungeonsandtrollsAttributes'
        money:
          type: integer
          format: int32
        equip:
          type: array
          items:
            $ref: '#/components/schemas/dungeonsandtrollsItem'
        score:
          type: number
          format: float
      example:
        score: 7.143538
        money: 3
        equip:
        - null
        - null
        name: name
        attributes: null
        id: id
    dungeonsandtrollsCommandsBatch:
      type: object
      properties:
        buy:
          $ref: '#/components/schemas/dungeonsandtrollsIdentifiers'
        pickUp:
          $ref: '#/components/schemas/dungeonsandtrollsIdentifier'
        move:
          $ref: '#/components/schemas/dungeonsandtrollsCoordinates'
        skill:
          $ref: '#/components/schemas/dungeonsandtrollsSkillUse'
        yell:
          $ref: '#/components/schemas/dungeonsandtrollsMessage'
    dungeonsandtrollsCommandsForMonsters:
      type: object
      properties:
        commands:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/dungeonsandtrollsCommandsBatch'
          description: Monster ID with corresponding batch of commands.
    dungeonsandtrollsCoordinates:
      type: object
      properties:
        level:
          type: integer
          format: int32
        positionX:
          type: integer
          format: int32
        positionY:
          type: integer
          format: int32
      example:
        positionY: 2
        level: 5
        positionX: 5
    dungeonsandtrollsDamageType:
      type: string
      default: none
      enum:
      - none
      - slash
      - pierce
      - fire
      - poison
      - electric
    dungeonsandtrollsDecoration:
      type: object
      properties:
        name:
          type: string
        type:
          type: string
      example:
        name: name
        type: type
    dungeonsandtrollsDroppable:
      type: object
      properties:
        skill:
          $ref: '#/components/schemas/dungeonsandtrollsSkill'
        item:
          $ref: '#/components/schemas/dungeonsandtrollsItem'
        monster:
          $ref: '#/components/schemas/dungeonsandtrollsMonster'
        decoration:
          $ref: '#/components/schemas/dungeonsandtrollsDecoration'
        waypoint:
          $ref: '#/components/schemas/dungeonsandtrollsWaypoint'
        key:
          $ref: '#/components/schemas/dungeonsandtrollsKey'
      example:
        waypoint:
          destinationFloor: 6
        item: null
        skill: null
        decoration:
          name: name
          type: type
        key:
          doors:
          - positionY: 6
            positionX: 5
          - positionY: 6
            positionX: 5
        monster: null
    dungeonsandtrollsEffect:
      type: object
      properties:
        minDamage:
          $ref: '#/components/schemas/dungeonsandtrollsElements'
        maxDamage:
          $ref: '#/components/schemas/dungeonsandtrollsElements'
        duration:
          type: integer
          format: int32
        areaOfEffect:
          type: integer
          format: int32
        boosts:
          $ref: '#/components/schemas/dungeonsandtrollsAttributes'
        minStats:
          $ref: '#/components/schemas/dungeonsandtrollsStats'
        maxStats:
          $ref: '#/components/schemas/dungeonsandtrollsStats'
      example:
        duration: 6
        maxStats: null
        areaOfEffect: 3
        minStats:
          mana: 1.284659
          stamina: 2.8841622
          life: 6.965118
        maxDamage: null
        boosts: null
        minDamage:
          lightning: 6
          poison: 8
          fire: 9
          cold: 9
          physical: 9
    dungeonsandtrollsElements:
      type: object
      properties:
        cold:
          type: integer
          format: int32
        fire:
          type: integer
          format: int32
        lightning:
          type: integer
          format: int32
        poison:
          type: integer
          format: int32
        physical:
          type: integer
          format: int32
      example:
        lightning: 6
        poison: 8
        fire: 9
        cold: 9
        physical: 9
    dungeonsandtrollsEvent:
      type: object
      properties:
        message:
          type: string
        type:
          $ref: '#/components/schemas/dungeonsandtrollsEventType'
        coordinates:
          $ref: '#/components/schemas/dungeonsandtrollsCoordinates'
      example:
        coordinates: null
        message: message
        type: DAMAGE
    dungeonsandtrollsEventType:
      type: string
      default: DAMAGE
      enum:
      - DAMAGE
      - MESSAGE
      - BUY
      - EQUIP
      - ERROR
    dungeonsandtrollsGameState:
      type: object
      properties:
        map:
          $ref: '#/components/schemas/dungeonsandtrollsMap'
        shopItems:
          type: array
          items:
            $ref: '#/components/schemas/dungeonsandtrollsItem'
        character:
          $ref: '#/components/schemas/dungeonsandtrollsCharacter'
        currentPosition:
          $ref: '#/components/schemas/dungeonsandtrollsCoordinates'
        currentLevel:
          type: integer
          format: int32
        tick:
          type: string
          format: int64
        events:
          type: array
          description: |-
            List of events which occurred in the previous tick. Useful for visualising
            effects, debugging and communication.
          items:
            $ref: '#/components/schemas/dungeonsandtrollsEvent'
        score:
          type: number
          format: float
      example:
        currentLevel: 0
        score: 7.05877
        character: null
        currentPosition: null
        tick: tick
        map:
          levels:
          - level: 0
            objects:
            - isSpawn: true
              effects:
              - null
              - null
              isFree: true
              players:
              - score: 7.143538
                money: 3
                equip:
                - null
                - null
                name: name
                attributes: null
                id: id
              - score: 7.143538
                money: 3
                equip:
                - null
                - null
                name: name
                attributes: null
                id: id
              portals:
              - leadsTo: null
              - leadsTo: null
              isDoor: true
              monsters:
              - score: 3.3531933
                effects:
                - duration: 6
                  maxStats: null
                  areaOfEffect: 3
                  minStats:
                    mana: 1.284659
                    stamina: 2.8841622
                    life: 6.965118
                  maxDamage: null
                  boosts: null
                  minDamage:
                    lightning: 6
                    poison: 8
                    fire: 9
                    cold: 9
                    physical: 9
                - duration: 6
                  maxStats: null
                  areaOfEffect: 3
                  minStats:
                    mana: 1.284659
                    stamina: 2.8841622
                    life: 6.965118
                  maxDamage: null
                  boosts: null
                  minDamage:
                    lightning: 6
                    poison: 8
                    fire: 9
                    cold: 9
                    physical: 9
                onDeath:
                - null
                - null
                faction: faction
                name: name
                equippedItems:
                - skills:
                  - duration: null
                    effects:
                    - null
                    - null
                    targetEffects: null
                    cost: null
                    name: name
                    range: null
                    damageAmount: null
                    id: id
                    casterEffects:
                      summons:
                      - waypoint:
                          destinationFloor: 6
                        item: null
                        skill: null
                        decoration:
                          name: name
                          type: type
                        key:
                          doors:
                          - positionY: 6
                            positionX: 5
                          - positionY: 6
                            positionX: 5
                        monster: null
                      - waypoint:
                          destinationFloor: 6
                        item: null
                        skill: null
                        decoration:
                          name: name
                          type: type
                        key:
                          doors:
                          - positionY: 6
                            positionX: 5
                          - positionY: 6
                            positionX: 5
                        monster: null
                      flags:
                      - flags
                      - flags
                      attributes:
                        slashResist: null
                        electricResist: null
                        fireResist: null
                        constitution: null
                        strength: null
                        willpower: null
                        pierceResist: null
                        stamina: null
                        life: null
                        intelligence: null
                        dexterity: null
                        scalar: null
                        poisonResist: null
                        mana: null
                    radius: null
                    damageType: none
                    target: none
                  - duration: null
                    effects:
                    - null
                    - null
                    targetEffects: null
                    cost: null
                    name: name
                    range: null
                    damageAmount: null
                    id: id
                    casterEffects:
                      summons:
                      - waypoint:
                          destinationFloor: 6
                        item: null
                        skill: null
                        decoration:
                          name: name
                          type: type
                        key:
                          doors:
                          - positionY: 6
                            positionX: 5
                          - positionY: 6
                            positionX: 5
                        monster: null
                      - waypoint:
                          destinationFloor: 6
                        item: null
                        skill: null
                        decoration:
                          name: name
                          type: type
                        key:
                          doors:
                          - positionY: 6
                            positionX: 5
                          - positionY: 6
                            positionX: 5
                        monster: null
                      flags:
                      - flags
                      - flags
                      attributes:
                        slashResist: null
                        electricResist: null
                        fireResist: null
                        constitution: null
                        strength: null
                        willpower: null
                        pierceResist: null
                        stamina: null
                        life: null
                        intelligence: null
                        dexterity: null
                        scalar: null
                        poisonResist: null
                        mana: null
                    radius: null
                    damageType: none
                    target: none
                  requirements: null
                  price: 6
                  name: name
                  icon: icon
                  attributes: null
                  id: id
                  slot: none
                - skills:
                  - duration: null
                    effects:
                    - null
                    - null
                    targetEffects: null
                    cost: null
                    name: name
                    range: null
                    damageAmount: null
                    id: id
                    casterEffects:
                      summons:
                      - waypoint:
                          destinationFloor: 6
                        item: null
                        skill: null
                        decoration:
                          name: name
                          type: type
                        key:
                          doors:
                          - positionY: 6
                            positionX: 5
                          - positionY: 6
                            positionX: 5
                        monster: null
                      - waypoint:
                          destinationFloor: 6
                        item: null
                        skill: null
                        decoration:
                          name: name
                          type: type
                        key:
                          doors:
                          - positionY: 6
                            positionX: 5
                          - positionY: 6
                            positionX: 5
                        monster: null
                      flags:
                      - flags
                      - flags
                      attributes:
                        slashResist: null
                        electricResist: null
                        fireResist: null
                        constitution: null
                        strength: null
                        willpower: null
                        pierceResist: null
                        stamina: null
                        life: null
                        intelligence: null
                        dexterity: null
                        scalar: null
                        poisonResist: null
                        mana: null
                    radius: null
                    damageType: none
                    target: none
                  - duration: null
                    effects:
                    - null
                    - null
                    targetEffects: null
                    cost: null
                    name: name
                    range: null
                    damageAmount: null
                    id: id
                    casterEffects:
                      summons:
                      - waypoint:
                          destinationFloor: 6
                        item: null
                        skill: null
                        decoration:
                          name: name
                          type: type
                        key:
                          doors:
                          - positionY: 6
                            positionX: 5
                          - positionY: 6
                            positionX: 5
                        monster: null
                      - waypoint:
                          destinationFloor: 6
                        item: null
                        skill: null
                        decoration:
                          name: name
                          type: type
                        key:
                          doors:
                          - positionY: 6
                            positionX: 5
                          - positionY: 6
                            positionX: 5
                        monster: null
                      flags:
                      - flags
                      - flags
                      attributes:
                        slashResist: null
                        electricResist: null
                        fireResist: null
                        constitution: null
                        strength: null
                        willpower: null
                        pierceResist: null
                        stamina: null
                        life: null
                        intelligence: null
                        dexterity: null
                        scalar: null
                        poisonResist: null
                        mana: null
                    radius: null
                    damageType: none
                    target: none
                  requirements: null
                  price: 6
                  name: name
                  icon: icon
                  attributes: null
                  id: id
                  slot: none
                icon: icon
                attributes:
                  slashResist: 7.386282
                  electricResist: 6.846853
                  fireResist: 1.0246457
                  constitution: 4.145608
                  strength: 7.0614014
                  willpower: 2.027123
                  pierceResist: 1.2315135
                  stamina: 1.1730742
                  life: 7.4577446
                  intelligence: 3.6160767
                  dexterity: 9.301444
                  scalar: 5.025005
                  poisonResist: 1.4894159
                  mana: 4.9652185
                id: id
                algorithm: algorithm
              - score: 3.3531933
                effects:
                - duration: 6
                  maxStats: null
                  areaOfEffect: 3
                  minStats:
                    mana: 1.284659
                    stamina: 2.8841622
                    life: 6.965118
                  maxDamage: null
                  boosts: null
                  minDamage:
                    lightning: 6
                    poison: 8
                    fire: 9
                    cold: 9
                    physical: 9
                - duration: 6
                  maxStats: null
                  areaOfEffect: 3
                  minStats:
                    mana: 1.284659
                    stamina: 2.8841622
                    life: 6.965118
                  maxDamage: null
                  boosts: null
                  minDamage:
                    lightning: 6
                    poison: 8
                    fire: 9
                    cold: 9
                    physical: 9
                onDeath:
                - null
                - null
                faction: faction
                name: name
                equippedItems:
                - skills:
                  - duration: null
                    effects:
                    - null
                    - null
                    targetEffects: null
                    cost: null
                    name: name
                    range: null
                    damageAmount: null
                    id: id
                    casterEffects:
                      summons:
                      - waypoint:
                          destinationFloor: 6
                        item: null
                        skill: null
                        decoration:
                          name: name
                          type: type
                        key:
                          doors:
                          - positionY: 6
                            positionX: 5
                          - positionY: 6
                            positionX: 5
                        monster: null
                      - waypoint:
                          destinationFloor: 6
                        item: null
                        skill: null
                        decoration:
                          name: name
                          type: type
                        key:
                          doors:
                          - positionY: 6
                            positionX: 5
                          - positionY: 6
                            positionX: 5
                        monster: null
                      flags:
                      - flags
                      - flags
                      attributes:
                        slashResist: null
                        electricResist: null
                        fireResist: null
                        constitution: null
                        strength: null
                        willpower: null
                        pierceResist: null
                        stamina: null
                        life: null
                        intelligence: null
                        dexterity: null
                        scalar: null
                        poisonResist: null
                        mana: null
                    radius: null
                    damageType: none
                    target: none
                  - duration: null
                    effects:
                    - null
                    - null
                    targetEffects: null
                    cost: null
                    name: name
                    range: null
                    damageAmount: null
                    id: id
                    casterEffects:
                      summons:
                      - waypoint:
                          destinationFloor: 6
                        item: null
                        skill: null
                        decoration:
                          name: name
                          type: type
                        key:
                          doors:
                          - positionY: 6
                            positionX: 5
                          - positionY: 6
                            positionX: 5
                        monster: null
                      - waypoint:
                          destinationFloor: 6
                        item: null
                        skill: null
                        decoration:
                          name: name
                          type: type
                        key:
                          doors:
                          - positionY: 6
                            positionX: 5
                          - positionY: 6
                            positionX: 5
                        monster: null
                      flags:
                      - flags
                      - flags
                      attributes:
                        slashResist: null
                        electricResist: null
                        fireResist: null
                        constitution: null
                        strength: null
                        willpower: null
                        pierceResist: null
                        stamina: null
                        life: null
                        intelligence: null
                        dexterity: null
                        scalar: null
                        poisonResist: null
                        mana: null
                    radius: null
                    damageType: none
                    target: none
                  requirements: null
                  price: 6
                  name: name
                  icon: icon
                  attributes: null
                  id: id
                  slot: none
                - skills:
                  - duration: null
                    effects:
                    - null
                    - null
                    targetEffects: null
                    cost: null
                    name: name
                    range: null
                    damageAmount: null
                    id: id
                    casterEffects:
                      summons:
                      - waypoint:
                          destinationFloor: 6
                        item: null
                        skill: null
                        decoration:
                          name: name
                          type: type
                        key:
                          doors:
                          - positionY: 6
                            positionX: 5
                          - positionY: 6
                            positionX: 5
                        monster: null
                      - waypoint:
                          destinationFloor: 6
                        item: null
                        skill: null
                        decoration:
                          name: name
                          type: type
                        key:
                          doors:
                          - positionY: 6
                            positionX: 5
                          - positionY: 6
                            positionX: 5
                        monster: null
                      flags:
                      - flags
                      - flags
                      attributes:
                        slashResist: null
                        electricResist: null
                        fireResist: null
                        constitution: null
                        strength: null
                        willpower: null
                        pierceResist: null
                        stamina: null
                        life: null
                        intelligence: null
                        dexterity: null
                        scalar: null
                        poisonResist: null
                        mana: null
                    radius: null
                    damageType: none
                    target: none
                  - duration: null
                    effects:
                    - null
                    - null
                    targetEffects: null
                    cost: null
                    name: name
                    range: null
                    damageAmount: null
                    id: id
                    casterEffects:
                      summons:
                      - waypoint:
                          destinationFloor: 6
                        item: null
                        skill: null
                        decoration:
                          name: name
                          type: type
                        key:
                          doors:
                          - positionY: 6
                            positionX: 5
                          - positionY: 6
                            positionX: 5
                        monster: null
                      - waypoint:
                          destinationFloor: 6
                        item: null
                        skill: null
                        decoration:
                          name: name
                          type: type
                        key:
                          doors:
                          - positionY: 6
                            positionX: 5
                          - positionY: 6
                            positionX: 5
                        monster: null
                      flags:
                      - flags
                      - flags
                      attributes:
                        slashResist: null
                        electricResist: null
                        fireResist: null
                        constitution: null
                        strength: null
                        willpower: null
                        pierceResist: null
                        stamina: null
                        life: null
                        intelligence: null
                        dexterity: null
                        scalar: null
                        poisonResist: null
                        mana: null
                    radius: null
                    damageType: none
                    target: none
                  requirements: null
                  price: 6
                  name: name
                  icon: icon
                  attributes: null
                  id: id
                  slot: none
                icon: icon
                attributes:
                  slashResist: 7.386282
                  electricResist: 6.846853
                  fireResist: 1.0246457
                  constitution: 4.145608
                  strength: 7.0614014
                  willpower: 2.027123
                  pierceResist: 1.2315135
                  stamina: 1.1730742
                  life: 7.4577446
                  intelligence: 3.6160767
                  dexterity: 9.301444
                  scalar: 5.025005
                  poisonResist: 1.4894159
                  mana: 4.9652185
                id: id
                algorithm: algorithm
              decorations:
              - null
              - null
              position:
                positionY: 2
                level: 5
                positionX: 5
              items:
              - null
              - null
              isStairs: true
              isWall: true
            - isSpawn: true
              effects:
              - null
              - null
              isFree: true
              players:
              - score: 7.143538
                money: 3
                equip:
                - null
                - null
                name: name
                attributes: null
                id: id
              - score: 7.143538
                money: 3
                equip:
                - null
                - null
                name: name
                attributes: null
                id: id
              portals:
              - leadsTo: null
              - leadsTo: null
              isDoor: true
              monsters:
              - score: 3.3531933
                effects:
                - duration: 6
                  maxStats: null
                  areaOfEffect: 3
                  minStats:
                    mana: 1.284659
                    stamina: 2.8841622
                    life: 6.965118
                  maxDamage: null
                  boosts: null
                  minDamage:
                    lightning: 6
                    poison: 8
                    fire: 9
                    cold: 9
                    physical: 9
                - duration: 6
                  maxStats: null
                  areaOfEffect: 3
                  minStats:
                    mana: 1.284659
                    stamina: 2.8841622
                    life: 6.965118
                  maxDamage: null
                  boosts: null
                  minDamage:
                    lightning: 6
                    poison: 8
                    fire: 9
                    cold: 9
                    physical: 9
                onDeath:
                - null
                - null
                faction: faction
                name: name
                equippedItems:
                - skills:
                  - duration: null
                    effects:
                    - null
                    - null
                    targetEffects: null
                    cost: null
                    name: name
                    range: null
                    damageAmount: null
                    id: id
                    casterEffects:
                      summons:
                      - waypoint:
                          destinationFloor: 6
                        item: null
                        skill: null
                        decoration:
                          name: name
                          type: type
                        key:
                          doors:
                          - positionY: 6
                            positionX: 5
                          - positionY: 6
                            positionX: 5
                        monster: null
                      - waypoint:
                          destinationFloor: 6
                        item: null
                        skill: null
                        decoration:
                          name: name
                          type: type
                        key:
                          doors:
                          - positionY: 6
                            positionX: 5
                          - positionY: 6
                            positionX: 5
                        monster: null
                      flags:
                      - flags
                      - flags
                      attributes:
                        slashResist: null
                        electricResist: null
                        fireResist: null
                        constitution: null
                        strength: null
                        willpower: null
                        pierceResist: null
                        stamina: null
                        life: null
                        intelligence: null
                        dexterity: null
                        scalar: null
                        poisonResist: null
                        mana: null
                    radius: null
                    damageType: none
                    target: none
                  - duration: null
                    effects:
                    - null
                    - null
                    targetEffects: null
                    cost: null
                    name: name
                    range: null
                    damageAmount: null
                    id: id
                    casterEffects:
                      summons:
                      - waypoint:
                          destinationFloor: 6
                        item: null
                        skill: null
                        decoration:
                          name: name
                          type: type
                        key:
                          doors:
                          - positionY: 6
                            positionX: 5
                          - positionY: 6
                            positionX: 5
                        monster: null
                      - waypoint:
                          destinationFloor: 6
                        item: null
                        skill: null
                        decoration:
                          name: name
                          type: type
                        key:
                          doors:
                          - positionY: 6
                            positionX: 5
                          - positionY: 6
                            positionX: 5
                        monster: null
                      flags:
                      - flags
                      - flags
                      attributes:
                        slashResist: null
                        electricResist: null
                        fireResist: null
                        constitution: null
                        strength: null
                        willpower: null
                        pierceResist: null
                        stamina: null
                        life: null
                        intelligence: null
                        dexterity: null
                        scalar: null
                        poisonResist: null
                        mana: null
                    radius: null
                    damageType: none
                    target: none
                  requirements: null
                  price: 6
                  name: name
                  icon: icon
                  attributes: null
                  id: id
                  slot: none
                - skills:
                  - duration: null
                    effects:
                    - null
                    - null
                    targetEffects: null
                    cost: null
                    name: name
                    range: null
                    damageAmount: null
                    id: id
                    casterEffects:
                      summons:
                      - waypoint:
                          destinationFloor: 6
                        item: null
                        skill: null
                        decoration:
                          name: name
                          type: type
                        key:
                          doors:
                          - positionY: 6
                            positionX: 5
                          - positionY: 6
                            positionX: 5
                        monster: null
                      - waypoint:
                          destinationFloor: 6
                        item: null
                        skill: null
                        decoration:
                          name: name
                          type: type
                        key:
                          doors:
                          - positionY: 6
                            positionX: 5
                          - positionY: 6
                            positionX: 5
                        monster: null
                      flags:
                      - flags
                      - flags
                      attributes:
                        slashResist: null
                        electricResist: null
                        fireResist: null
                        constitution: null
                        strength: null
                        willpower: null
                        pierceResist: null
                        stamina: null
                        life: null
                        intelligence: null
                        dexterity: null
                        scalar: null
                        poisonResist: null
                        mana: null
                    radius: null
                    damageType: none
                    target: none
                  - duration: null
                    effects:
                    - null
                    - null
                    targetEffects: null
                    cost: null
                    name: name
                    range: null
                    damageAmount: null
                    id: id
                    casterEffects:
                      summons:
                      - waypoint:
                          destinationFloor: 6
                        item: null
                        skill: null
                        decoration:
                          name: name
                          type: type
                        key:
                          doors:
                          - positionY: 6
                            positionX: 5
                          - positionY: 6
                            positionX: 5
                        monster: null
                      - waypoint:
                          destinationFloor: 6
                        item: null
                        skill: null
                        decoration:
                          name: name
                          type: type
                        key:
                          doors:
                          - positionY: 6
                            positionX: 5
                          - positionY: 6
                            positionX: 5
                        monster: null
                      flags:
                      - flags
                      - flags
                      attributes:
                        slashResist: null
                        electricResist: null
                        fireResist: null
                        constitution: null
                        strength: null
                        willpower: null
                        pierceResist: null
                        stamina: null
                        life: null
                        intelligence: null
                        dexterity: null
                        scalar: null
                        poisonResist: null
                        mana: null
                    radius: null
                    damageType: none
                    target: none
                  requirements: null
                  price: 6
                  name: name
                  icon: icon
                  attributes: null
                  id: id
                  slot: none
                icon: icon
                attributes:
                  slashResist: 7.386282
                  electricResist: 6.846853
                  fireResist: 1.0246457
                  constitution: 4.145608
                  strength: 7.0614014
                  willpower: 2.027123
                  pierceResist: 1.2315135
                  stamina: 1.1730742
                  life: 7.4577446
                  intelligence: 3.6160767
                  dexterity: 9.301444
                  scalar: 5.025005
                  poisonResist: 1.4894159
                  mana: 4.9652185
                id: id
                algorithm: algorithm
              - score: 3.3531933
                effects:
                - duration: 6
                  maxStats: null
                  areaOfEffect: 3
                  minStats:
                    mana: 1.284659
                    stamina: 2.8841622
                    life: 6.965118
                  maxDamage: null
                  boosts: null
                  minDamage:
                    lightning: 6
                    poison: 8
                    fire: 9
                    cold: 9
                    physical: 9
                - duration: 6
                  maxStats: null
                  areaOfEffect: 3
                  minStats:
                    mana: 1.284659
                    stamina: 2.8841622
                    life: 6.965118
                  maxDamage: null
                  boosts: null
                  minDamage:
                    lightning: 6
                    poison: 8
                    fire: 9
                    cold: 9
                    physical: 9
                onDeath:
                - null
                - null
                faction: faction
                name: name
                equippedItems:
                - skills:
                  - duration: null
                    effects:
                    - null
                    - null
                    targetEffects: null
                    cost: null
                    name: name
                    range: null
                    damageAmount: null
                    id: id
                    casterEffects:
                      summons:
                      - waypoint:
                          destinationFloor: 6
                        item: null
                        skill: null
                        decoration:
                          name: name
                          type: type
                        key:
                          doors:
                          - positionY: 6
                            positionX: 5
                          - positionY: 6
                            positionX: 5
                        monster: null
                      - waypoint:
                          destinationFloor: 6
                        item: null
                        skill: null
                        decoration:
                          name: name
                          type: type
                        key:
                          doors:
                          - positionY: 6
                            positionX: 5
                          - positionY: 6
                            positionX: 5
                        monster: null
                      flags:
                      - flags
                      - flags
                      attributes:
                        slashResist: null
                        electricResist: null
                        fireResist: null
                        constitution: null
                        strength: null
                        willpower: null
                        pierceResist: null
                        stamina: null
                        life: null
                        intelligence: null
                        dexterity: null
                        scalar: null
                        poisonResist: null
                        mana: null
                    radius: null
                    damageType: none
                    target: none
                  - duration: null
                    effects:
                    - null
                    - null
                    targetEffects: null
                    cost: null
                    name: name
                    range: null
                    damageAmount: null
                    id: id
                    casterEffects:
                      summons:
                      - waypoint:
                          destinationFloor: 6
                        item: null
                        skill: null
                        decoration:
                          name: name
                          type: type
                        key:
                          doors:
                          - positionY: 6
                            positionX: 5
                          - positionY: 6
                            positionX: 5
                        monster: null
                      - waypoint:
                          destinationFloor: 6
                        item: null
                        skill: null
                        decoration:
                          name: name
                          type: type
                        key:
                          doors:
                          - positionY: 6
                            positionX: 5
                          - positionY: 6
                            positionX: 5
                        monster: null
                      flags:
                      - flags
                      - flags
                      attributes:
                        slashResist: null
                        electricResist: null
                        fireResist: null
                        constitution: null
                        strength: null
                        willpower: null
                        pierceResist: null
                        stamina: null
                        life: null
                        intelligence: null
                        dexterity: null
                        scalar: null
                        poisonResist: null
                        mana: null
                    radius: null
                    damageType: none
                    target: none
                  requirements: null
                  price: 6
                  name: name
                  icon: icon
                  attributes: null
                  id: id
                  slot: none
                - skills:
                  - duration: null
                    effects:
                    - null
                    - null
                    targetEffects: null
                    cost: null
                    name: name
                    range: null
                    damageAmount: null
                    id: id
                    casterEffects:
                      summons:
                      - waypoint:
                          destinationFloor: 6
                        item: null
                        skill: null
                        decoration:
                          name: name
                          type: type
                        key:
                          doors:
                          - positionY: 6
                            positionX: 5
                          - positionY: 6
                            positionX: 5
                        monster: null
                      - waypoint:
                          destinationFloor: 6
                        item: null
                        skill: null
                        decoration:
                          name: name
                          type: type
                        key:
                          doors:
                          - positionY: 6
                            positionX: 5
                          - positionY: 6
                            positionX: 5
                        monster: null
                      flags:
                      - flags
                      - flags
                      attributes:
                        slashResist: null
                        electricResist: null
                        fireResist: null
                        constitution: null
                        strength: null
                        willpower: null
                        pierceResist: null
                        stamina: null
                        life: null
                        intelligence: null
                        dexterity: null
                        scalar: null
                        poisonResist: null
                        mana: null
                    radius: null
                    damageType: none
                    target: none
                  - duration: null
                    effects:
                    - null
                    - null
                    targetEffects: null
                    cost: null
                    name: name
                    range: null
                    damageAmount: null
                    id: id
                    casterEffects:
                      summons:
                      - waypoint:
                          destinationFloor: 6
                        item: null
                        skill: null
                        decoration:
                          name: name
                          type: type
                        key:
                          doors:
                          - positionY: 6
                            positionX: 5
                          - positionY: 6
                            positionX: 5
                        monster: null
                      - waypoint:
                          destinationFloor: 6
                        item: null
                        skill: null
                        decoration:
                          name: name
                          type: type
                        key:
                          doors:
                          - positionY: 6
                            positionX: 5
                          - positionY: 6
                            positionX: 5
                        monster: null
                      flags:
                      - flags
                      - flags
                      attributes:
                        slashResist: null
                        electricResist: null
                        fireResist: null
                        constitution: null
                        strength: null
                        willpower: null
                        pierceResist: null
                        stamina: null
                        life: null
                        intelligence: null
                        dexterity: null
                        scalar: null
                        poisonResist: null
                        mana: null
                    radius: null
                    damageType: none
                    target: none
                  requirements: null
                  price: 6
                  name: name
                  icon: icon
                  attributes: null
                  id: id
                  slot: none
                icon: icon
                attributes:
                  slashResist: 7.386282
                  electricResist: 6.846853
                  fireResist: 1.0246457
                  constitution: 4.145608
                  strength: 7.0614014
                  willpower: 2.027123
                  pierceResist: 1.2315135
                  stamina: 1.1730742
                  life: 7.4577446
                  intelligence: 3.6160767
                  dexterity: 9.301444
                  scalar: 5.025005
                  poisonResist: 1.4894159
                  mana: 4.9652185
                id: id
                algorithm: algorithm
              decorations:
              - null
              - null
              position:
                positionY: 2
                level: 5
                positionX: 5
              items:
              - null
              - null
              isStairs: true
              isWall: true
            width: 6
            free:
            - - {}
              - {}
            - - {}
              - {}
            ascii:
            - ascii
            - ascii
            height: 1
          - level: 0
            objects:
            - isSpawn: true
              effects:
              - null
              - null
              isFree: true
              players:
              - score: 7.143538
                money: 3
                equip:
                - null
                - null
                name: name
                attributes: null
                id: id
              - score: 7.143538
                money: 3
                equip:
                - null
                - null
                name: name
                attributes: null
                id: id
              portals:
              - leadsTo: null
              - leadsTo: null
              isDoor: true
              monsters:
              - score: 3.3531933
                effects:
                - duration: 6
                  maxStats: null
                  areaOfEffect: 3
                  minStats:
                    mana: 1.284659
                    stamina: 2.8841622
                    life: 6.965118
                  maxDamage: null
                  boosts: null
                  minDamage:
                    lightning: 6
                    poison: 8
                    fire: 9
                    cold: 9
                    physical: 9
                - duration: 6
                  maxStats: null
                  areaOfEffect: 3
                  minStats:
                    mana: 1.284659
                    stamina: 2.8841622
                    life: 6.965118
                  maxDamage: null
                  boosts: null
                  minDamage:
                    lightning: 6
                    poison: 8
                    fire: 9
                    cold: 9
                    physical: 9
                onDeath:
                - null
                - null
                faction: faction
                name: name
                equippedItems:
                - skills:
                  - duration: null
                    effects:
                    - null
                    - null
                    targetEffects: null
                    cost: null
                    name: name
                    range: null
                    damageAmount: null
                    id: id
                    casterEffects:
                      summons:
                      - waypoint:
                          destinationFloor: 6
                        item: null
                        skill: null
                        decoration:
                          name: name
                          type: type
                        key:
                          doors:
                          - positionY: 6
                            positionX: 5
                          - positionY: 6
                            positionX: 5
                        monster: null
                      - waypoint:
                          destinationFloor: 6
                        item: null
                        skill: null
                        decoration:
                          name: name
                          type: type
                        key:
                          doors:
                          - positionY: 6
                            positionX: 5
                          - positionY: 6
                            positionX: 5
                        monster: null
                      flags:
                      - flags
                      - flags
                      attributes:
                        slashResist: null
                        electricResist: null
                        fireResist: null
                        constitution: null
                        strength: null
                        willpower: null
                        pierceResist: null
                        stamina: null
                        life: null
                        intelligence: null
                        dexterity: null
                        scalar: null
                        poisonResist: null
                        mana: null
                    radius: null
                    damageType: none
                    target: none
                  - duration: null
                    effects:
                    - null
                    - null
                    targetEffects: null
                    cost: null
                    name: name
                    range: null
                    damageAmount: null
                    id: id
                    casterEffects:
                      summons:
                      - waypoint:
                          destinationFloor: 6
                        item: null
                        skill: null
                        decoration:
                          name: name
                          type: type
                        key:
                          doors:
                          - positionY: 6
                            positionX: 5
                          - positionY: 6
                            positionX: 5
                        monster: null
                      - waypoint:
                          destinationFloor: 6
                        item: null
                        skill: null
                        decoration:
                          name: name
                          type: type
                        key:
                          doors:
                          - positionY: 6
                            positionX: 5
                          - positionY: 6
                            positionX: 5
                        monster: null
                      flags:
                      - flags
                      - flags
                      attributes:
                        slashResist: null
                        electricResist: null
                        fireResist: null
                        constitution: null
                        strength: null
                        willpower: null
                        pierceResist: null
                        stamina: null
                        life: null
                        intelligence: null
                        dexterity: null
                        scalar: null
                        poisonResist: null
                        mana: null
                    radius: null
                    damageType: none
                    target: none
                  requirements: null
                  price: 6
                  name: name
                  icon: icon
                  attributes: null
                  id: id
                  slot: none
                - skills:
                  - duration: null
                    effects:
                    - null
                    - null
                    targetEffects: null
                    cost: null
                    name: name
                    range: null
                    damageAmount: null
                    id: id
                    casterEffects:
                      summons:
                      - waypoint:
                          destinationFloor: 6
                        item: null
                        skill: null
                        decoration:
                          name: name
                          type: type
                        key:
                          doors:
                          - positionY: 6
                            positionX: 5
                          - positionY: 6
                            positionX: 5
                        monster: null
                      - waypoint:
                          destinationFloor: 6
                        item: null
                        skill: null
                        decoration:
                          name: name
                          type: type
                        key:
                          doors:
                          - positionY: 6
                            positionX: 5
                          - positionY: 6
                            positionX: 5
                        monster: null
                      flags:
                      - flags
                      - flags
                      attributes:
                        slashResist: null
                        electricResist: null
                        fireResist: null
                        constitution: null
                        strength: null
                        willpower: null
                        pierceResist: null
                        stamina: null
                        life: null
                        intelligence: null
                        dexterity: null
                        scalar: null
                        poisonResist: null
                        mana: null
                    radius: null
                    damageType: none
                    target: none
                  - duration: null
                    effects:
                    - null
                    - null
                    targetEffects: null
                    cost: null
                    name: name
                    range: null
                    damageAmount: null
                    id: id
                    casterEffects:
                      summons:
                      - waypoint:
                          destinationFloor: 6
                        item: null
                        skill: null
                        decoration:
                          name: name
                          type: type
                        key:
                          doors:
                          - positionY: 6
                            positionX: 5
                          - positionY: 6
                            positionX: 5
                        monster: null
                      - waypoint:
                          destinationFloor: 6
                        item: null
                        skill: null
                        decoration:
                          name: name
                          type: type
                        key:
                          doors:
                          - positionY: 6
                            positionX: 5
                          - positionY: 6
                            positionX: 5
                        monster: null
                      flags:
                      - flags
                      - flags
                      attributes:
                        slashResist: null
                        electricResist: null
                        fireResist: null
                        constitution: null
                        strength: null
                        willpower: null
                        pierceResist: null
                        stamina: null
                        life: null
                        intelligence: null
                        dexterity: null
                        scalar: null
                        poisonResist: null
                        mana: null
                    radius: null
                    damageType: none
                    target: none
                  requirements: null
                  price: 6
                  name: name
                  icon: icon
                  attributes: null
                  id: id
                  slot: none
                icon: icon
                attributes:
                  slashResist: 7.386282
                  electricResist: 6.846853
                  fireResist: 1.0246457
                  constitution: 4.145608
                  strength: 7.0614014
                  willpower: 2.027123
                  pierceResist: 1.2315135
                  stamina: 1.1730742
                  life: 7.4577446
                  intelligence: 3.6160767
                  dexterity: 9.301444
                  scalar: 5.025005
                  poisonResist: 1.4894159
                  mana: 4.9652185
                id: id
                algorithm: algorithm
              - score: 3.3531933
                effects:
                - duration: 6
                  maxStats: null
                  areaOfEffect: 3
                  minStats:
                    mana: 1.284659
                    stamina: 2.8841622
                    life: 6.965118
                  maxDamage: null
                  boosts: null
                  minDamage:
                    lightning: 6
                    poison: 8
                    fire: 9
                    cold: 9
                    physical: 9
                - duration: 6
                  maxStats: null
                  areaOfEffect: 3
                  minStats:
                    mana: 1.284659
                    stamina: 2.8841622
                    life: 6.965118
                  maxDamage: null
                  boosts: null
                  minDamage:
                    lightning: 6
                    poison: 8
                    fire: 9
                    cold: 9
                    physical: 9
                onDeath:
                - null
                - null
                faction: faction
                name: name
                equippedItems:
                - skills:
                  - duration: null
                    effects:
                    - null
                    - null
                    targetEffects: null
                    cost: null
                    name: name
                    range: null
                    damageAmount: null
                    id: id
                    casterEffects:
                      summons:
                      - waypoint:
                          destinationFloor: 6
                        item: null
                        skill: null
                        decoration:
                          name: name
                          type: type
                        key:
                          doors:
                          - positionY: 6
                            positionX: 5
                          - positionY: 6
                            positionX: 5
                        monster: null
                      - waypoint:
                          destinationFloor: 6
                        item: null
                        skill: null
                        decoration:
                          name: name
                          type: type
                        key:
                          doors:
                          - positionY: 6
                            positionX: 5
                          - positionY: 6
                            positionX: 5
                        monster: null
                      flags:
                      - flags
                      - flags
                      attributes:
                        slashResist: null
                        electricResist: null
                        fireResist: null
                        constitution: null
                        strength: null
                        willpower: null
                        pierceResist: null
                        stamina: null
                        life: null
                        intelligence: null
                        dexterity: null
                        scalar: null
                        poisonResist: null
                        mana: null
                    radius: null
                    damageType: none
                    target: none
                  - duration: null
                    effects:
                    - null
                    - null
                    targetEffects: null
                    cost: null
                    name: name
                    range: null
                    damageAmount: null
                    id: id
                    casterEffects:
                      summons:
                      - waypoint:
                          destinationFloor: 6
                        item: null
                        skill: null
                        decoration:
                          name: name
                          type: type
                        key:
                          doors:
                          - positionY: 6
                            positionX: 5
                          - positionY: 6
                            positionX: 5
                        monster: null
                      - waypoint:
                          destinationFloor: 6
                        item: null
                        skill: null
                        decoration:
                          name: name
                          type: type
                        key:
                          doors:
                          - positionY: 6
                            positionX: 5
                          - positionY: 6
                            positionX: 5
                        monster: null
                      flags:
                      - flags
                      - flags
                      attributes:
                        slashResist: null
                        electricResist: null
                        fireResist: null
                        constitution: null
                        strength: null
                        willpower: null
                        pierceResist: null
                        stamina: null
                        life: null
                        intelligence: null
                        dexterity: null
                        scalar: null
                        poisonResist: null
                        mana: null
                    radius: null
                    damageType: none
                    target: none
                  requirements: null
                  price: 6
                  name: name
                  icon: icon
                  attributes: null
                  id: id
                  slot: none
                - skills:
                  - duration: null
                    effects:
                    - null
                    - null
                    targetEffects: null
                    cost: null
                    name: name
                    range: null
                    damageAmount: null
                    id: id
                    casterEffects:
                      summons:
                      - waypoint:
                          destinationFloor: 6
                        item: null
                        skill: null
                        decoration:
                          name: name
                          type: type
                        key:
                          doors:
                          - positionY: 6
                            positionX: 5
                          - positionY: 6
                            positionX: 5
                        monster: null
                      - waypoint:
                          destinationFloor: 6
                        item: null
                        skill: null
                        decoration:
                          name: name
                          type: type
                        key:
                          doors:
                          - positionY: 6
                            positionX: 5
                          - positionY: 6
                            positionX: 5
                        monster: null
                      flags:
                      - flags
                      - flags
                      attributes:
                        slashResist: null
                        electricResist: null
                        fireResist: null
                        constitution: null
                        strength: null
                        willpower: null
                        pierceResist: null
                        stamina: null
                        life: null
                        intelligence: null
                        dexterity: null
                        scalar: null
                        poisonResist: null
                        mana: null
                    radius: null
                    damageType: none
                    target: none
                  - duration: null
                    effects:
                    - null
                    - null
                    targetEffects: null
                    cost: null
                    name: name
                    range: null
                    damageAmount: null
                    id: id
                    casterEffects:
                      summons:
                      - waypoint:
                          destinationFloor: 6
                        item: null
                        skill: null
                        decoration:
                          name: name
                          type: type
                        key:
                          doors:
                          - positionY: 6
                            positionX: 5
                          - positionY: 6
                            positionX: 5
                        monster: null
                      - waypoint:
                          destinationFloor: 6
                        item: null
                        skill: null
                        decoration:
                          name: name
                          type: type
                        key:
                          doors:
                          - positionY: 6
                            positionX: 5
                          - positionY: 6
                            positionX: 5
                        monster: null
                      flags:
                      - flags
                      - flags
                      attributes:
                        slashResist: null
                        electricResist: null
                        fireResist: null
                        constitution: null
                        strength: null
                        willpower: null
                        pierceResist: null
                        stamina: null
                        life: null
                        intelligence: null
                        dexterity: null
                        scalar: null
                        poisonResist: null
                        mana: null
                    radius: null
                    damageType: none
                    target: none
                  requirements: null
                  price: 6
                  name: name
                  icon: icon
                  attributes: null
                  id: id
                  slot: none
                icon: icon
                attributes:
                  slashResist: 7.386282
                  electricResist: 6.846853
                  fireResist: 1.0246457
                  constitution: 4.145608
                  strength: 7.0614014
                  willpower: 2.027123
                  pierceResist: 1.2315135
                  stamina: 1.1730742
                  life: 7.4577446
                  intelligence: 3.6160767
                  dexterity: 9.301444
                  scalar: 5.025005
                  poisonResist: 1.4894159
                  mana: 4.9652185
                id: id
                algorithm: algorithm
              decorations:
              - null
              - null
              position:
                positionY: 2
                level: 5
                positionX: 5
              items:
              - null
              - null
              isStairs: true
              isWall: true
            - isSpawn: true
              effects:
              - null
              - null
              isFree: true
              players:
              - score: 7.143538
                money: 3
                equip:
                - null
                - null
                name: name
                attributes: null
                id: id
              - score: 7.143538
                money: 3
                equip:
                - null
                - null
                name: name
                attributes: null
                id: id
              portals:
              - leadsTo: null
              - leadsTo: null
              isDoor: true
              monsters:
              - score: 3.3531933
                effects:
                - duration: 6
                  maxStats: null
                  areaOfEffect: 3
                  minStats:
                    mana: 1.284659
                    stamina: 2.8841622
                    life: 6.965118
                  maxDamage: null
                  boosts: null
                  minDamage:
                    lightning: 6
                    poison: 8
                    fire: 9
                    cold: 9
                    physical: 9
                - duration: 6
                  maxStats: null
                  areaOfEffect: 3
                  minStats:
                    mana: 1.284659
                    stamina: 2.8841622
                    life: 6.965118
                  maxDamage: null
                  boosts: null
                  minDamage:
                    lightning: 6
                    poison: 8
                    fire: 9
                    cold: 9
                    physical: 9
                onDeath:
                - null
                - null
                faction: faction
                name: name
                equippedItems:
                - skills:
                  - duration: null
                    effects:
                    - null
                    - null
                    targetEffects: null
                    cost: null
                    name: name
                    range: null
                    damageAmount: null
                    id: id
                    casterEffects:
                      summons:
                      - waypoint:
                          destinationFloor: 6
                        item: null
                        skill: null
                        decoration:
                          name: name
                          type: type
                        key:
                          doors:
                          - positionY: 6
                            positionX: 5
                          - positionY: 6
                            positionX: 5
                        monster: null
                      - waypoint:
                          destinationFloor: 6
                        item: null
                        skill: null
                        decoration:
                          name: name
                          type: type
                        key:
                          doors:
                          - positionY: 6
                            positionX: 5
                          - positionY: 6
                            positionX: 5
                        monster: null
                      flags:
                      - flags
                      - flags
                      attributes:
                        slashResist: null
                        electricResist: null
                        fireResist: null
                        constitution: null
                        strength: null
                        willpower: null
                        pierceResist: null
                        stamina: null
                        life: null
                        intelligence: null
                        dexterity: null
                        scalar: null
                        poisonResist: null
                        mana: null
                    radius: null
                    damageType: none
                    target: none
                  - duration: null
                    effects:
                    - null
                    - null
                    targetEffects: null
                    cost: null
                    name: name
                    range: null
                    damageAmount: null
                    id: id
                    casterEffects:
                      summons:
                      - waypoint:
                          destinationFloor: 6
                        item: null
                        skill: null
                        decoration:
                          name: name
                          type: type
                        key:
                          doors:
                          - positionY: 6
                            positionX: 5
                          - positionY: 6
                            positionX: 5
                        monster: null
                      - waypoint:
                          destinationFloor: 6
                        item: null
                        skill: null
                        decoration:
                          name: name
                          type: type
                        key:
                          doors:
                          - positionY: 6
                            positionX: 5
                          - positionY: 6
                            positionX: 5
                        monster: null
                      flags:
                      - flags
                      - flags
                      attributes:
                        slashResist: null
                        electricResist: null
                        fireResist: null
                        constitution: null
                        strength: null
                        willpower: null
                        pierceResist: null
                        stamina: null
                        life: null
                        intelligence: null
                        dexterity: null
                        scalar: null
                        poisonResist: null
                        mana: null
                    radius: null
                    damageType: none
                    target: none
                  requirements: null
                  price: 6
                  name: name
                  icon: icon
                  attributes: null
                  id: id
                  slot: none
                - skills:
                  - duration: null
                    effects:
                    - null
                    - null
                    targetEffects: null
                    cost: null
                    name: name
                    range: null
                    damageAmount: null
                    id: id
                    casterEffects:
                      summons:
                      - waypoint:
                          destinationFloor: 6
                        item: null
                        skill: null
                        decoration:
                          name: name
                          type: type
                        key:
                          doors:
                          - positionY: 6
                            positionX: 5
                          - positionY: 6
                            positionX: 5
                        monster: null
                      - waypoint:
                          destinationFloor: 6
                        item: null
                        skill: null
                        decoration:
                          name: name
                          type: type
                        key:
                          doors:
                          - positionY: 6
[...]
