openapi: 3.0.1
info:
  title: Dungeons and Trolls
  version: 1.10.0
externalDocs:
  description: More about Dungeons and trolls
  url: https://github.com/gdg-garage/dungeons-and-trolls
servers:
- url: https://dt.garage-trip.cz/
security:
- ApiKeyAuth: []
tags:
- name: DungeonsAndTrolls
paths:
  /v1/assign-skill-points:
    post:
      tags:
      - DungeonsAndTrolls
      summary: |-
        Send multiple commands to the Character bound to the logged user. The order
        of execution is defined in the message.
      operationId: DungeonsAndTrolls_AssignSkillPoints
      parameters:
      - name: blocking
        in: query
        description: default true
        required: false
        style: form
        explode: true
        schema:
          type: boolean
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/dungeonsandtrollsAttributes'
        required: true
      responses:
        "200":
          description: A successful response.
          content:
            application/json:
              schema:
                type: object
                x-content-type: application/json
        "403":
          description: Returned when the user does not have permission to access the
            resource.
          content:
            application/json:
              schema:
                type: object
                x-content-type: application/json
        "404":
          description: Returned when the resource does not exist.
          content:
            application/json:
              schema:
                type: object
                x-content-type: application/json
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      x-codegen-request-body-name: attributes
  /v1/buy:
    post:
      tags:
      - DungeonsAndTrolls
      summary: |-
        Buy Items identified by the provided ID for the Character bound to the
        logged user.
      operationId: DungeonsAndTrolls_Buy
      parameters:
      - name: blocking
        in: query
        description: default true
        required: false
        style: form
        explode: true
        schema:
          type: boolean
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/dungeonsandtrollsIdentifiers'
        required: true
      responses:
        "200":
          description: A successful response.
          content:
            application/json:
              schema:
                type: object
                x-content-type: application/json
        "403":
          description: Returned when the user does not have permission to access the
            resource.
          content:
            application/json:
              schema:
                type: object
                x-content-type: application/json
        "404":
          description: Returned when the resource does not exist.
          content:
            application/json:
              schema:
                type: object
                x-content-type: application/json
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      x-codegen-request-body-name: identifiers
  /v1/commands:
    post:
      tags:
      - DungeonsAndTrolls
      summary: |-
        Send multiple commands to the Character bound to the logged user. The order
        of execution is defined in the message.
      operationId: DungeonsAndTrolls_Commands
      parameters:
      - name: blocking
        in: query
        description: default true
        required: false
        style: form
        explode: true
        schema:
          type: boolean
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/dungeonsandtrollsCommandsBatch'
        required: true
      responses:
        "200":
          description: A successful response.
          content:
            application/json:
              schema:
                type: object
                x-content-type: application/json
        "403":
          description: Returned when the user does not have permission to access the
            resource.
          content:
            application/json:
              schema:
                type: object
                x-content-type: application/json
        "404":
          description: Returned when the resource does not exist.
          content:
            application/json:
              schema:
                type: object
                x-content-type: application/json
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      x-codegen-request-body-name: commandsBatch
  /v1/game:
    get:
      tags:
      - DungeonsAndTrolls
      summary: Sends all info about the game.
      operationId: DungeonsAndTrolls_Game
      parameters:
      - name: blocking
        in: query
        description: default false
        required: false
        style: form
        explode: true
        schema:
          type: boolean
      - name: items
        in: query
        description: default true
        required: false
        style: form
        explode: true
        schema:
          type: boolean
      - name: fogOfWar
        in: query
        description: default false
        required: false
        style: form
        explode: true
        schema:
          type: boolean
      responses:
        "200":
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dungeonsandtrollsGameState'
        "403":
          description: Returned when the user does not have permission to access the
            resource.
          content:
            application/json:
              schema:
                type: object
                x-content-type: application/json
        "404":
          description: Returned when the resource does not exist.
          content:
            application/json:
              schema:
                type: object
                x-content-type: application/json
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
  /v1/game/{level}:
    get:
      tags:
      - DungeonsAndTrolls
      summary: Sends all info about the game level.
      operationId: DungeonsAndTrolls_GameLevel
      parameters:
      - name: level
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int32
      - name: blocking
        in: query
        description: default false
        required: false
        style: form
        explode: true
        schema:
          type: boolean
      - name: items
        in: query
        description: default true
        required: false
        style: form
        explode: true
        schema:
          type: boolean
      - name: fogOfWar
        in: query
        description: default false
        required: false
        style: form
        explode: true
        schema:
          type: boolean
      responses:
        "200":
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dungeonsandtrollsGameState'
        "403":
          description: Returned when the user does not have permission to access the
            resource.
          content:
            application/json:
              schema:
                type: object
                x-content-type: application/json
        "404":
          description: Returned when the resource does not exist.
          content:
            application/json:
              schema:
                type: object
                x-content-type: application/json
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
  /v1/levels:
    get:
      tags:
      - DungeonsAndTrolls
      summary: Sends info about
      operationId: DungeonsAndTrolls_Levels
      parameters:
      - name: blocking
        in: query
        description: default false
        required: false
        style: form
        explode: true
        schema:
          type: boolean
      responses:
        "200":
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dungeonsandtrollsAvailableLevels'
        "403":
          description: Returned when the user does not have permission to access the
            resource.
          content:
            application/json:
              schema:
                type: object
                x-content-type: application/json
        "404":
          description: Returned when the resource does not exist.
          content:
            application/json:
              schema:
                type: object
                x-content-type: application/json
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
  /v1/monsters-commands:
    post:
      tags:
      - DungeonsAndTrolls
      summary: Control monsters. Admin only.
      operationId: DungeonsAndTrolls_MonstersCommands
      parameters:
      - name: blocking
        in: query
        description: default true
        required: false
        style: form
        explode: true
        schema:
          type: boolean
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/dungeonsandtrollsCommandsForMonsters'
        required: true
      responses:
        "200":
          description: A successful response.
          content:
            application/json:
              schema:
                type: object
                x-content-type: application/json
        "403":
          description: Returned when the user does not have permission to access the
            resource.
          content:
            application/json:
              schema:
                type: object
                x-content-type: application/json
        "404":
          description: Returned when the resource does not exist.
          content:
            application/json:
              schema:
                type: object
                x-content-type: application/json
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      x-codegen-request-body-name: commandsForMonsters
  /v1/move:
    post:
      tags:
      - DungeonsAndTrolls
      summary: |-
        Assign skill point to the attribute for the Character bound to the logged
        user.
      operationId: DungeonsAndTrolls_Move
      parameters:
      - name: blocking
        in: query
        description: default true
        required: false
        style: form
        explode: true
        schema:
          type: boolean
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/dungeonsandtrollsPosition'
        required: true
      responses:
        "200":
          description: A successful response.
          content:
            application/json:
              schema:
                type: object
                x-content-type: application/json
        "403":
          description: Returned when the user does not have permission to access the
            resource.
          content:
            application/json:
              schema:
                type: object
                x-content-type: application/json
        "404":
          description: Returned when the resource does not exist.
          content:
            application/json:
              schema:
                type: object
                x-content-type: application/json
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      x-codegen-request-body-name: position
  /v1/pick-up:
    post:
      tags:
      - DungeonsAndTrolls
      summary: |-
        Equip the Item from the ground identified by the provided ID for the Character bound to the
        logged user (unused).
      operationId: DungeonsAndTrolls_PickUp
      parameters:
      - name: blocking
        in: query
        description: default true
        required: false
        style: form
        explode: true
        schema:
          type: boolean
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/dungeonsandtrollsIdentifier'
        required: true
      responses:
        "200":
          description: A successful response.
          content:
            application/json:
              schema:
                type: object
                x-content-type: application/json
        "403":
          description: Returned when the user does not have permission to access the
            resource.
          content:
            application/json:
              schema:
                type: object
                x-content-type: application/json
        "404":
          description: Returned when the resource does not exist.
          content:
            application/json:
              schema:
                type: object
                x-content-type: application/json
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      x-codegen-request-body-name: identifier
  /v1/players:
    get:
      tags:
      - DungeonsAndTrolls
      summary: Sends all info about all players.
      operationId: DungeonsAndTrolls_Players
      parameters:
      - name: blocking
        in: query
        description: default false
        required: false
        style: form
        explode: true
        schema:
          type: boolean
      responses:
        "200":
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dungeonsandtrollsPlayersInfo'
        "403":
          description: Returned when the user does not have permission to access the
            resource.
          content:
            application/json:
              schema:
                type: object
                x-content-type: application/json
        "404":
          description: Returned when the resource does not exist.
          content:
            application/json:
              schema:
                type: object
                x-content-type: application/json
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
  /v1/register:
    post:
      tags:
      - DungeonsAndTrolls
      summary: Register provided User to the Game and create a character.
      operationId: DungeonsAndTrolls_Register
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/dungeonsandtrollsUser'
        required: true
      responses:
        "200":
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dungeonsandtrollsRegistration'
        "403":
          description: Returned when the user does not have permission to access the
            resource.
          content:
            application/json:
              schema:
                type: object
                x-content-type: application/json
        "404":
          description: Returned when the resource does not exist.
          content:
            application/json:
              schema:
                type: object
                x-content-type: application/json
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      x-codegen-request-body-name: body
  /v1/respawn:
    post:
      tags:
      - DungeonsAndTrolls
      summary: Respawn the Character bound to the logged user.
      operationId: DungeonsAndTrolls_Respawn
      parameters:
      - name: blocking
        in: query
        description: default true
        required: false
        style: form
        explode: true
        schema:
          type: boolean
      requestBody:
        content:
          application/json:
            schema:
              type: object
        required: true
      responses:
        "200":
          description: A successful response.
          content:
            application/json:
              schema:
                type: object
                x-content-type: application/json
        "403":
          description: Returned when the user does not have permission to access the
            resource.
          content:
            application/json:
              schema:
                type: object
                x-content-type: application/json
        "404":
          description: Returned when the resource does not exist.
          content:
            application/json:
              schema:
                type: object
                x-content-type: application/json
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      x-codegen-request-body-name: respawn
  /v1/skill:
    post:
      tags:
      - DungeonsAndTrolls
      summary: |-
        Use a skill (provided by an item) by the Character bound to the logged
        user.
      operationId: DungeonsAndTrolls_Skill
      parameters:
      - name: blocking
        in: query
        description: default true
        required: false
        style: form
        explode: true
        schema:
          type: boolean
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/dungeonsandtrollsSkillUse'
        required: true
      responses:
        "200":
          description: A successful response.
          content:
            application/json:
              schema:
                type: object
                x-content-type: application/json
        "403":
          description: Returned when the user does not have permission to access the
            resource.
          content:
            application/json:
              schema:
                type: object
                x-content-type: application/json
        "404":
          description: Returned when the resource does not exist.
          content:
            application/json:
              schema:
                type: object
                x-content-type: application/json
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      x-codegen-request-body-name: skillUse
  /v1/yell:
    post:
      tags:
      - DungeonsAndTrolls
      summary: |-
        The Character bound to the logged user yells a messages (visible for
        everyone).
      operationId: DungeonsAndTrolls_Yell
      parameters:
      - name: blocking
        in: query
        description: default true
        required: false
        style: form
        explode: true
        schema:
          type: boolean
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/dungeonsandtrollsMessage'
        required: true
      responses:
        "200":
          description: A successful response.
          content:
            application/json:
              schema:
                type: object
                x-content-type: application/json
        "403":
          description: Returned when the user does not have permission to access the
            resource.
          content:
            application/json:
              schema:
                type: object
                x-content-type: application/json
        "404":
          description: Returned when the resource does not exist.
          content:
            application/json:
              schema:
                type: object
                x-content-type: application/json
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      x-codegen-request-body-name: message
components:
  schemas:
    SkillTarget:
      type: string
      default: none
      enum:
      - none
      - position
      - character
    dungeonsandtrollsAttributes:
      type: object
      properties:
        strength:
          type: number
          format: float
          nullable: true
        dexterity:
          type: number
          format: float
          nullable: true
        intelligence:
          type: number
          format: float
          nullable: true
        willpower:
          type: number
          format: float
          nullable: true
        constitution:
          type: number
          format: float
          nullable: true
        slashResist:
          type: number
          format: float
          nullable: true
        pierceResist:
          type: number
          format: float
          nullable: true
        fireResist:
          type: number
          format: float
          nullable: true
        poisonResist:
          type: number
          format: float
          nullable: true
        electricResist:
          type: number
          format: float
          nullable: true
        life:
          type: number
          format: float
          nullable: true
        stamina:
          type: number
          format: float
          nullable: true
        mana:
          type: number
          format: float
          nullable: true
        constant:
          type: number
          format: float
          nullable: true
      example:
        slashResist: 1.0246457
        electricResist: 1.1730742
        fireResist: 6.846853
        constitution: 1.2315135
        constant: 9.36931
        strength: 3.6160767
        willpower: 7.386282
        pierceResist: 1.4894159
        stamina: 5.025005
        life: 4.9652185
        intelligence: 4.145608
        dexterity: 2.027123
        poisonResist: 7.4577446
        mana: 9.965781
    dungeonsandtrollsAvailableLevels:
      type: object
      properties:
        levels:
          type: array
          items:
            type: integer
            format: int32
      example:
        levels:
        - 0
        - 0
    dungeonsandtrollsCharacter:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        attributes:
          $ref: '#/components/schemas/dungeonsandtrollsAttributes'
        money:
          type: integer
          format: int32
        equip:
          type: array
          items:
            $ref: '#/components/schemas/dungeonsandtrollsItem'
        score:
          type: number
          format: float
        skillPoints:
          type: number
          format: float
        effects:
          type: array
          items:
            $ref: '#/components/schemas/dungeonsandtrollsEffect'
        maxAttributes:
          $ref: '#/components/schemas/dungeonsandtrollsAttributes'
        lastDamageTaken:
          type: integer
          format: int32
        coordinates:
          $ref: '#/components/schemas/dungeonsandtrollsCoordinates'
        stun:
          $ref: '#/components/schemas/dungeonsandtrollsStun'
      example:
        score: 2.8841622
        effects:
        - null
        - null
        money: 1
        equip:
        - null
        - null
        lastDamageTaken: 6
        skillPoints: 6.778325
        maxAttributes: null
        name: name
        coordinates:
          positionY: 3
          level: 5
          positionX: 6
        attributes: null
        id: id
        stun: null
    dungeonsandtrollsCommandsBatch:
      type: object
      properties:
        buy:
          $ref: '#/components/schemas/dungeonsandtrollsIdentifiers'
        pickUp:
          $ref: '#/components/schemas/dungeonsandtrollsIdentifier'
        move:
          $ref: '#/components/schemas/dungeonsandtrollsPosition'
        skill:
          $ref: '#/components/schemas/dungeonsandtrollsSkillUse'
        yell:
          $ref: '#/components/schemas/dungeonsandtrollsMessage'
        assignSkillPoints:
          $ref: '#/components/schemas/dungeonsandtrollsAttributes'
    dungeonsandtrollsCommandsForMonsters:
      type: object
      properties:
        commands:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/dungeonsandtrollsCommandsBatch'
          description: Monster ID with corresponding batch of commands.
    dungeonsandtrollsCoordinates:
      type: object
      properties:
        level:
          type: integer
          format: int32
        positionX:
          type: integer
          format: int32
        positionY:
          type: integer
          format: int32
      example:
        positionY: 3
        level: 5
        positionX: 6
    dungeonsandtrollsDamageType:
      type: string
      default: none
      enum:
      - none
      - slash
      - pierce
      - fire
      - poison
      - electric
    dungeonsandtrollsDecoration:
      type: object
      properties:
        name:
          type: string
        type:
          type: string
        icon:
          type: string
      example:
        name: name
        icon: icon
        type: type
    dungeonsandtrollsDroppable:
      type: object
      properties:
        skill:
          $ref: '#/components/schemas/dungeonsandtrollsSkill'
        item:
          $ref: '#/components/schemas/dungeonsandtrollsItem'
        monster:
          $ref: '#/components/schemas/dungeonsandtrollsMonster'
        decoration:
          $ref: '#/components/schemas/dungeonsandtrollsDecoration'
        waypoint:
          $ref: '#/components/schemas/dungeonsandtrollsWaypoint'
        key:
          $ref: '#/components/schemas/dungeonsandtrollsKey'
      example:
        waypoint:
          destinationFloor: 6
        item: null
        skill: null
        decoration:
          name: name
          icon: icon
          type: type
        key:
          doors:
          - null
          - null
        monster: null
    dungeonsandtrollsEffect:
      type: object
      properties:
        damageAmount:
          type: number
          format: float
        damageType:
          $ref: '#/components/schemas/dungeonsandtrollsDamageType'
        effects:
          $ref: '#/components/schemas/dungeonsandtrollsAttributes'
        duration:
          type: integer
          format: int32
        CasterId:
          title: Internal caster id field
          type: string
          nullable: true
      example:
        duration: 6
        effects:
          slashResist: 1.0246457
          electricResist: 1.1730742
          fireResist: 6.846853
          constitution: 1.2315135
          constant: 9.36931
          strength: 3.6160767
          willpower: 7.386282
          pierceResist: 1.4894159
          stamina: 5.025005
          life: 4.9652185
          intelligence: 4.145608
          dexterity: 2.027123
          poisonResist: 7.4577446
          mana: 9.965781
        damageAmount: 9.301444
        damageType: none
        CasterId: CasterId
    dungeonsandtrollsEvent:
      type: object
      properties:
        message:
          type: string
        type:
          $ref: '#/components/schemas/dungeonsandtrollsEventType'
        coordinates:
          $ref: '#/components/schemas/dungeonsandtrollsCoordinates'
        damage:
          type: number
          format: float
          nullable: true
        playerId:
          type: string
          nullable: true
        skillName:
          type: string
          nullable: true
        radius:
          type: number
          format: float
          nullable: true
        target:
          $ref: '#/components/schemas/dungeonsandtrollsCoordinates'
        skill:
          $ref: '#/components/schemas/dungeonsandtrollsSkill'
        isRanged:
          type: boolean
          nullable: true
      example:
        skillName: skillName
        damage: 7.05877
        skill: null
        coordinates: null
        message: message
        type: DAMAGE
        radius: 6.519181
        isRanged: true
        playerId: playerId
        target: null
    dungeonsandtrollsEventType:
      type: string
      default: DAMAGE
      enum:
      - DAMAGE
      - MESSAGE
      - BUY
      - EQUIP
      - ERROR
      - SKILL
      - DEATH
      - SCORE
      - MOVE
      - AOE
    dungeonsandtrollsFogOfWarMap:
      type: object
      properties:
        position:
          $ref: '#/components/schemas/dungeonsandtrollsPosition'
        fogOfWar:
          type: boolean
      example:
        fogOfWar: true
        position: null
    dungeonsandtrollsGameState:
      type: object
      properties:
        map:
          $ref: '#/components/schemas/dungeonsandtrollsMap'
        shopItems:
          type: array
          items:
            $ref: '#/components/schemas/dungeonsandtrollsItem'
        character:
          $ref: '#/components/schemas/dungeonsandtrollsCharacter'
        currentPosition:
          $ref: '#/components/schemas/dungeonsandtrollsPosition'
        currentLevel:
          type: integer
          format: int32
          nullable: true
        tick:
          type: integer
          format: int32
        events:
          type: array
          description: |-
            List of events which occurred in the previous tick. Useful for visualising
            effects, debugging and communication.
          items:
            $ref: '#/components/schemas/dungeonsandtrollsEvent'
        score:
          type: number
          format: float
        maxLevel:
          type: integer
          format: int32
      example:
        currentLevel: 7
        maxLevel: 4
        score: 0.10263654
        character: null
        currentPosition: null
        tick: 0
        map:
          levels:
          - deprecationInSeconds: 5
            playerMap:
            - distance: 3
              lineOfSight: true
              position: null
            - distance: 3
              lineOfSight: true
              position: null
            horror: 5.962134
            fogOfWar:
            - fogOfWar: true
              position: null
            - fogOfWar: true
              position: null
            level: 0
            objects:
            - isSpawn: true
              effects:
              - null
              - null
              isFree: true
              players:
              - score: 2.8841622
                effects:
                - null
                - null
                money: 1
                equip:
                - null
                - null
                lastDamageTaken: 6
                skillPoints: 6.778325
                maxAttributes: null
                name: name
                coordinates:
                  positionY: 3
                  level: 5
                  positionX: 6
                attributes: null
                id: id
                stun: null
              - score: 2.8841622
                effects:
                - null
                - null
                money: 1
                equip:
                - null
                - null
                lastDamageTaken: 6
                skillPoints: 6.778325
                maxAttributes: null
                name: name
                coordinates:
                  positionY: 3
                  level: 5
                  positionX: 6
                attributes: null
                id: id
                stun: null
              isDoor: true
              monsters:
              - onDeath:
                - null
                - null
                lastDamageTaken: 6
                lifePercentage: 8.762042
                icon: icon
                equippedItems:
                - skills:
                  - duration: null
                    targetEffects: null
                    cost: null
                    name: name
                    flags:
                      requiresLineOfSight: true
                      requiresOutOfCombat: true
                      passive: true
                    range: null
                    damageAmount: null
                    id: id
                    casterEffects:
                      summons:
                      - waypoint:
                          destinationFloor: 6
                        item: null
                        skill: null
                        decoration:
                          name: name
                          icon: icon
                          type: type
                        key:
                          doors:
                          - null
                          - null
                        monster: null
                      - waypoint:
                          destinationFloor: 6
                        item: null
                        skill: null
                        decoration:
                          name: name
                          icon: icon
                          type: type
                        key:
                          doors:
                          - null
                          - null
                        monster: null
                      flags:
                        groundEffect: true
                        knockback: true
                        stun: true
                        movement: true
                      attributes:
                        slashResist: null
                        electricResist: null
                        fireResist: null
                        constitution: null
                        constant: null
                        strength: null
                        willpower: null
                        pierceResist: null
                        stamina: null
                        life: null
                        intelligence: null
                        dexterity: null
                        poisonResist: null
                        mana: null
                    radius: null
                    damageType: null
                    target: none
                  - duration: null
                    targetEffects: null
                    cost: null
                    name: name
                    flags:
                      requiresLineOfSight: true
                      requiresOutOfCombat: true
                      passive: true
                    range: null
                    damageAmount: null
                    id: id
                    casterEffects:
                      summons:
                      - waypoint:
                          destinationFloor: 6
                        item: null
                        skill: null
                        decoration:
                          name: name
                          icon: icon
                          type: type
                        key:
                          doors:
                          - null
                          - null
                        monster: null
                      - waypoint:
                          destinationFloor: 6
                        item: null
                        skill: null
                        decoration:
                          name: name
                          icon: icon
                          type: type
                        key:
                          doors:
                          - null
                          - null
                        monster: null
                      flags:
                        groundEffect: true
                        knockback: true
                        stun: true
                        movement: true
                      attributes:
                        slashResist: null
                        electricResist: null
                        fireResist: null
                        constitution: null
                        constant: null
                        strength: null
                        willpower: null
                        pierceResist: null
                        stamina: null
                        life: null
                        intelligence: null
                        dexterity: null
                        poisonResist: null
                        mana: null
                    radius: null
                    damageType: null
                    target: none
                  requirements: null
                  price: 9
                  name: name
                  icon: icon
                  attributes: null
                  unidentified: true
                  id: id
                  slot: null
                - skills:
                  - duration: null
                    targetEffects: null
                    cost: null
                    name: name
                    flags:
                      requiresLineOfSight: true
                      requiresOutOfCombat: true
                      passive: true
                    range: null
                    damageAmount: null
                    id: id
                    casterEffects:
                      summons:
                      - waypoint:
                          destinationFloor: 6
                        item: null
                        skill: null
                        decoration:
                          name: name
                          icon: icon
                          type: type
                        key:
                          doors:
                          - null
                          - null
                        monster: null
                      - waypoint:
                          destinationFloor: 6
                        item: null
                        skill: null
                        decoration:
                          name: name
                          icon: icon
                          type: type
                        key:
                          doors:
                          - null
                          - null
                        monster: null
                      flags:
                        groundEffect: true
                        knockback: true
                        stun: true
                        movement: true
                      attributes:
                        slashResist: null
                        electricResist: null
                        fireResist: null
                        constitution: null
                        constant: null
                        strength: null
                        willpower: null
                        pierceResist: null
                        stamina: null
                        life: null
                        intelligence: null
                        dexterity: null
                        poisonResist: null
                        mana: null
                    radius: null
                    damageType: null
                    target: none
                  - duration: null
                    targetEffects: null
                    cost: null
                    name: name
                    flags:
                      requiresLineOfSight: true
                      requiresOutOfCombat: true
                      passive: true
                    range: null
                    damageAmount: null
                    id: id
                    casterEffects:
                      summons:
                      - waypoint:
                          destinationFloor: 6
                        item: null
                        skill: null
                        decoration:
                          name: name
                          icon: icon
                          type: type
                        key:
                          doors:
                          - null
                          - null
                        monster: null
                      - waypoint:
                          destinationFloor: 6
                        item: null
                        skill: null
                        decoration:
                          name: name
                          icon: icon
                          type: type
                        key:
                          doors:
                          - null
                          - null
                        monster: null
                      flags:
                        groundEffect: true
                        knockback: true
                        stun: true
                        movement: true
                      attributes:
                        slashResist: null
                        electricResist: null
                        fireResist: null
                        constitution: null
                        constant: null
                        strength: null
                        willpower: null
                        pierceResist: null
                        stamina: null
                        life: null
                        intelligence: null
                        dexterity: null
                        poisonResist: null
                        mana: null
                    radius: null
                    damageType: null
                    target: none
                  requirements: null
                  price: 9
                  name: name
                  icon: icon
                  attributes: null
                  unidentified: true
                  id: id
                  slot: null
                stun:
                  isImmune: true
                  isStunned: true
                score: 3.5571952
                effects:
                - duration: 6
                  effects:
                    slashResist: 1.0246457
                    electricResist: 1.1730742
                    fireResist: 6.846853
                    constitution: 1.2315135
                    constant: 9.36931
                    strength: 3.6160767
                    willpower: 7.386282
                    pierceResist: 1.4894159
                    stamina: 5.025005
                    life: 4.9652185
                    intelligence: 4.145608
                    dexterity: 2.027123
                    poisonResist: 7.4577446
                    mana: 9.965781
                  damageAmount: 9.301444
                  damageType: none
                  CasterId: CasterId
                - duration: 6
                  effects:
                    slashResist: 1.0246457
                    electricResist: 1.1730742
                    fireResist: 6.846853
                    constitution: 1.2315135
                    constant: 9.36931
                    strength: 3.6160767
                    willpower: 7.386282
                    pierceResist: 1.4894159
                    stamina: 5.025005
                    life: 4.9652185
                    intelligence: 4.145608
                    dexterity: 2.027123
                    poisonResist: 7.4577446
                    mana: 9.965781
                  damageAmount: 9.301444
                  damageType: none
                  CasterId: CasterId
                faction: faction
                maxAttributes: null
                name: name
                attributes: null
                id: id
                items:
                - name: name
                  icon: icon
                  slot: head
                - name: name
                  icon: icon
                  slot: head
                algorithm: algorithm
              - onDeath:
                - null
                - null
                lastDamageTaken: 6
                lifePercentage: 8.762042
                icon: icon
                equippedItems:
                - skills:
                  - duration: null
                    targetEffects: null
                    cost: null
                    name: name
                    flags:
                      requiresLineOfSight: true
                      requiresOutOfCombat: true
                      passive: true
                    range: null
                    damageAmount: null
                    id: id
                    casterEffects:
                      summons:
                      - waypoint:
                          destinationFloor: 6
                        item: null
                        skill: null
                        decoration:
                          name: name
                          icon: icon
                          type: type
                        key:
                          doors:
                          - null
                          - null
                        monster: null
                      - waypoint:
                          destinationFloor: 6
                        item: null
                        skill: null
                        decoration:
                          name: name
                          icon: icon
                          type: type
                        key:
                          doors:
                          - null
                          - null
                        monster: null
                      flags:
                        groundEffect: true
                        knockback: true
                        stun: true
                        movement: true
                      attributes:
                        slashResist: null
                        electricResist: null
                        fireResist: null
                        constitution: null
                        constant: null
                        strength: null
                        willpower: null
                        pierceResist: null
                        stamina: null
                        life: null
                        intelligence: null
                        dexterity: null
                        poisonResist: null
                        mana: null
                    radius: null
                    damageType: null
                    target: none
                  - duration: null
                    targetEffects: null
                    cost: null
                    name: name
                    flags:
                      requiresLineOfSight: true
                      requiresOutOfCombat: true
                      passive: true
                    range: null
                    damageAmount: null
                    id: id
                    casterEffects:
                      summons:
                      - waypoint:
                          destinationFloor: 6
                        item: null
                        skill: null
                        decoration:
                          name: name
                          icon: icon
                          type: type
                        key:
                          doors:
                          - null
                          - null
                        monster: null
                      - waypoint:
                          destinationFloor: 6
                        item: null
                        skill: null
                        decoration:
                          name: name
                          icon: icon
                          type: type
                        key:
                          doors:
                          - null
                          - null
                        monster: null
                      flags:
                        groundEffect: true
                        knockback: true
                        stun: true
                        movement: true
                      attributes:
                        slashResist: null
                        electricResist: null
                        fireResist: null
                        constitution: null
                        constant: null
                        strength: null
                        willpower: null
                        pierceResist: null
                        stamina: null
                        life: null
                        intelligence: null
                        dexterity: null
                        poisonResist: null
                        mana: null
                    radius: null
                    damageType: null
                    target: none
                  requirements: null
                  price: 9
                  name: name
                  icon: icon
                  attributes: null
                  unidentified: true
                  id: id
                  slot: null
                - skills:
                  - duration: null
                    targetEffects: null
                    cost: null
                    name: name
                    flags:
                      requiresLineOfSight: true
                      requiresOutOfCombat: true
                      passive: true
                    range: null
                    damageAmount: null
                    id: id
                    casterEffects:
                      summons:
                      - waypoint:
                          destinationFloor: 6
                        item: null
                        skill: null
                        decoration:
                          name: name
                          icon: icon
                          type: type
                        key:
                          doors:
                          - null
                          - null
                        monster: null
                      - waypoint:
                          destinationFloor: 6
                        item: null
                        skill: null
                        decoration:
                          name: name
                          icon: icon
                          type: type
                        key:
                          doors:
                          - null
                          - null
                        monster: null
                      flags:
                        groundEffect: true
                        knockback: true
                        stun: true
                        movement: true
                      attributes:
                        slashResist: null
                        electricResist: null
                        fireResist: null
                        constitution: null
                        constant: null
                        strength: null
                        willpower: null
                        pierceResist: null
                        stamina: null
                        life: null
                        intelligence: null
                        dexterity: null
                        poisonResist: null
                        mana: null
                    radius: null
                    damageType: null
                    target: none
                  - duration: null
                    targetEffects: null
                    cost: null
                    name: name
                    flags:
                      requiresLineOfSight: true
                      requiresOutOfCombat: true
                      passive: true
                    range: null
                    damageAmount: null
                    id: id
                    casterEffects:
                      summons:
                      - waypoint:
                          destinationFloor: 6
                        item: null
                        skill: null
                        decoration:
                          name: name
                          icon: icon
                          type: type
                        key:
                          doors:
                          - null
                          - null
                        monster: null
                      - waypoint:
                          destinationFloor: 6
                        item: null
                        skill: null
                        decoration:
                          name: name
                          icon: icon
                          type: type
                        key:
                          doors:
                          - null
                          - null
                        monster: null
                      flags:
                        groundEffect: true
                        knockback: true
                        stun: true
                        movement: true
                      attributes:
                        slashResist: null
                        electricResist: null
                        fireResist: null
                        constitution: null
                        constant: null
                        strength: null
                        willpower: null
                        pierceResist: null
                        stamina: null
                        life: null
                        intelligence: null
                        dexterity: null
                        poisonResist: null
                        mana: null
                    radius: null
                    damageType: null
                    target: none
                  requirements: null
                  price: 9
                  name: name
                  icon: icon
                  attributes: null
                  unidentified: true
                  id: id
                  slot: null
                stun:
                  isImmune: true
                  isStunned: true
                score: 3.5571952
                effects:
                - duration: 6
                  effects:
                    slashResist: 1.0246457
                    electricResist: 1.1730742
                    fireResist: 6.846853
                    constitution: 1.2315135
                    constant: 9.36931
                    strength: 3.6160767
                    willpower: 7.386282
                    pierceResist: 1.4894159
                    stamina: 5.025005
                    life: 4.9652185
                    intelligence: 4.145608
                    dexterity: 2.027123
                    poisonResist: 7.4577446
                    mana: 9.965781
                  damageAmount: 9.301444
                  damageType: none
                  CasterId: CasterId
                - duration: 6
                  effects:
                    slashResist: 1.0246457
                    electricResist: 1.1730742
                    fireResist: 6.846853
                    constitution: 1.2315135
                    constant: 9.36931
                    strength: 3.6160767
                    willpower: 7.386282
                    pierceResist: 1.4894159
                    stamina: 5.025005
                    life: 4.9652185
                    intelligence: 4.145608
                    dexterity: 2.027123
                    poisonResist: 7.4577446
                    mana: 9.965781
                  damageAmount: 9.301444
                  damageType: none
                  CasterId: CasterId
                faction: faction
                maxAttributes: null
                name: name
                attributes: null
                id: id
                items:
                - name: name
                  icon: icon
                  slot: head
                - name: name
                  icon: icon
                  slot: head
                algorithm: algorithm
              decorations:
              - null
              - null
              position:
                positionY: 7
                positionX: 2
              portal: null
              items:
              - null
              - null
              isStairs: true
              isWall: true
            - isSpawn: true
              effects:
              - null
              - null
              isFree: true
              players:
              - score: 2.8841622
                effects:
                - null
                - null
                money: 1
                equip:
                - null
                - null
                lastDamageTaken: 6
                skillPoints: 6.778325
                maxAttributes: null
                name: name
                coordinates:
                  positionY: 3
                  level: 5
                  positionX: 6
                attributes: null
                id: id
                stun: null
              - score: 2.8841622
                effects:
                - null
                - null
                money: 1
                equip:
                - null
                - null
                lastDamageTaken: 6
                skillPoints: 6.778325
                maxAttributes: null
                name: name
                coordinates:
                  positionY: 3
                  level: 5
                  positionX: 6
                attributes: null
                id: id
                stun: null
              isDoor: true
              monsters:
              - onDeath:
                - null
                - null
                lastDamageTaken: 6
                lifePercentage: 8.762042
                icon: icon
                equippedItems:
                - skills:
                  - duration: null
                    targetEffects: null
                    cost: null
                    name: name
                    flags:
                      requiresLineOfSight: true
                      requiresOutOfCombat: true
                      passive: true
                    range: null
                    damageAmount: null
                    id: id
                    casterEffects:
                      summons:
                      - waypoint:
                          destinationFloor: 6
                        item: null
                        skill: null
                        decoration:
                          name: name
                          icon: icon
                          type: type
                        key:
                          doors:
                          - null
                          - null
                        monster: null
                      - waypoint:
                          destinationFloor: 6
                        item: null
                        skill: null
                        decoration:
                          name: name
                          icon: icon
                          type: type
                        key:
                          doors:
                          - null
                          - null
                        monster: null
                      flags:
                        groundEffect: true
                        knockback: true
                        stun: true
                        movement: true
                      attributes:
                        slashResist: null
                        electricResist: null
                        fireResist: null
                        constitution: null
                        constant: null
                        strength: null
                        willpower: null
                        pierceResist: null
                        stamina: null
                        life: null
                        intelligence: null
                        dexterity: null
                        poisonResist: null
                        mana: null
                    radius: null
                    damageType: null
                    target: none
                  - duration: null
                    targetEffects: null
                    cost: null
                    name: name
                    flags:
                      requiresLineOfSight: true
                      requiresOutOfCombat: true
                      passive: true
                    range: null
                    damageAmount: null
                    id: id
                    casterEffects:
                      summons:
                      - waypoint:
                          destinationFloor: 6
                        item: null
                        skill: null
                        decoration:
                          name: name
                          icon: icon
                          type: type
                        key:
                          doors:
                          - null
                          - null
                        monster: null
                      - waypoint:
                          destinationFloor: 6
                        item: null
                        skill: null
                        decoration:
                          name: name
                          icon: icon
                          type: type
                        key:
                          doors:
                          - null
                          - null
                        monster: null
                      flags:
                        groundEffect: true
                        knockback: true
                        stun: true
                        movement: true
                      attributes:
                        slashResist: null
                        electricResist: null
                        fireResist: null
                        constitution: null
                        constant: null
                        strength: null
                        willpower: null
                        pierceResist: null
                        stamina: null
                        life: null
                        intelligence: null
                        dexterity: null
                        poisonResist: null
                        mana: null
                    radius: null
                    damageType: null
                    target: none
                  requirements: null
                  price: 9
                  name: name
                  icon: icon
                  attributes: null
                  unidentified: true
                  id: id
                  slot: null
                - skills:
                  - duration: null
                    targetEffects: null
                    cost: null
                    name: name
                    flags:
                      requiresLineOfSight: true
                      requiresOutOfCombat: true
                      passive: true
                    range: null
                    damageAmount: null
                    id: id
                    casterEffects:
                      summons:
                      - waypoint:
                          destinationFloor: 6
                        item: null
                        skill: null
                        decoration:
                          name: name
                          icon: icon
                          type: type
                        key:
                          doors:
                          - null
                          - null
                        monster: null
                      - waypoint:
                          destinationFloor: 6
                        item: null
                        skill: null
                        decoration:
                          name: name
                          icon: icon
                          type: type
                        key:
                          doors:
                          - null
                          - null
                        monster: null
                      flags:
                        groundEffect: true
                        knockback: true
                        stun: true
                        movement: true
                      attributes:
                        slashResist: null
                        electricResist: null
                        fireResist: null
                        constitution: null
                        constant: null
                        strength: null
                        willpower: null
                        pierceResist: null
                        stamina: null
                        life: null
                        intelligence: null
                        dexterity: null
                        poisonResist: null
                        mana: null
                    radius: null
                    damageType: null
                    target: none
                  - duration: null
                    targetEffects: null
                    cost: null
                    name: name
                    flags:
                      requiresLineOfSight: true
                      requiresOutOfCombat: true
                      passive: true
                    range: null
                    damageAmount: null
                    id: id
                    casterEffects:
                      summons:
                      - waypoint:
                          destinationFloor: 6
                        item: null
                        skill: null
                        decoration:
                          name: name
                          icon: icon
                          type: type
                        key:
                          doors:
                          - null
                          - null
                        monster: null
                      - waypoint:
                          destinationFloor: 6
                        item: null
                        skill: null
                        decoration:
                          name: name
                          icon: icon
                          type: type
                        key:
                          doors:
                          - null
                          - null
                        monster: null
                      flags:
                        groundEffect: true
                        knockback: true
                        stun: true
                        movement: true
                      attributes:
                        slashResist: null
                        electricResist: null
                        fireResist: null
                        constitution: null
                        constant: null
                        strength: null
                        willpower: null
                        pierceResist: null
                        stamina: null
                        life: null
                        intelligence: null
                        dexterity: null
                        poisonResist: null
                        mana: null
                    radius: null
                    damageType: null
                    target: none
                  requirements: null
                  price: 9
                  name: name
                  icon: icon
                  attributes: null
                  unidentified: true
                  id: id
                  slot: null
                stun:
                  isImmune: true
                  isStunned: true
                score: 3.5571952
                effects:
                - duration: 6
                  effects:
                    slashResist: 1.0246457
                    electricResist: 1.1730742
                    fireResist: 6.846853
                    constitution: 1.2315135
                    constant: 9.36931
                    strength: 3.6160767
                    willpower: 7.386282
                    pierceResist: 1.4894159
                    stamina: 5.025005
                    life: 4.9652185
                    intelligence: 4.145608
                    dexterity: 2.027123
                    poisonResist: 7.4577446
                    mana: 9.965781
                  damageAmount: 9.301444
                  damageType: none
                  CasterId: CasterId
                - duration: 6
                  effects:
                    slashResist: 1.0246457
                    electricResist: 1.1730742
                    fireResist: 6.846853
                    constitution: 1.2315135
                    constant: 9.36931
                    strength: 3.6160767
                    willpower: 7.386282
                    pierceResist: 1.4894159
                    stamina: 5.025005
                    life: 4.9652185
                    intelligence: 4.145608
                    dexterity: 2.027123
                    poisonResist: 7.4577446
                    mana: 9.965781
                  damageAmount: 9.301444
                  damageType: none
                  CasterId: CasterId
                faction: faction
                maxAttributes: null
                name: name
                attributes: null
                id: id
                items:
                - name: name
                  icon: icon
                  slot: head
                - name: name
                  icon: icon
                  slot: head
                algorithm: algorithm
              - onDeath:
                - null
                - null
                lastDamageTaken: 6
                lifePercentage: 8.762042
                icon: icon
                equippedItems:
                - skills:
                  - duration: null
                    targetEffects: null
                    cost: null
                    name: name
                    flags:
                      requiresLineOfSight: true
                      requiresOutOfCombat: true
                      passive: true
                    range: null
                    damageAmount: null
                    id: id
                    casterEffects:
                      summons:
                      - waypoint:
                          destinationFloor: 6
                        item: null
                        skill: null
                        decoration:
                          name: name
                          icon: icon
                          type: type
                        key:
                          doors:
                          - null
                          - null
                        monster: null
                      - waypoint:
                          destinationFloor: 6
                        item: null
                        skill: null
                        decoration:
                          name: name
                          icon: icon
                          type: type
                        key:
                          doors:
                          - null
                          - null
                        monster: null
                      flags:
                        groundEffect: true
                        knockback: true
                        stun: true
                        movement: true
                      attributes:
                        slashResist: null
                        electricResist: null
                        fireResist: null
                        constitution: null
                        constant: null
                        strength: null
                        willpower: null
                        pierceResist: null
                        stamina: null
                        life: null
                        intelligence: null
                        dexterity: null
                        poisonResist: null
                        mana: null
                    radius: null
                    damageType: null
                    target: none
                  - duration: null
                    targetEffects: null
                    cost: null
                    name: name
                    flags:
                      requiresLineOfSight: true
                      requiresOutOfCombat: true
                      passive: true
                    range: null
                    damageAmount: null
                    id: id
                    casterEffects:
                      summons:
                      - waypoint:
                          destinationFloor: 6
                        item: null
                        skill: null
                        decoration:
                          name: name
                          icon: icon
                          type: type
                        key:
                          doors:
                          - null
                          - null
                        monster: null
                      - waypoint:
                          destinationFloor: 6
                        item: null
                        skill: null
                        decoration:
                          name: name
                          icon: icon
                          type: type
                        key:
                          doors:
                          - null
                          - null
                        monster: null
                      flags:
                        groundEffect: true
                        knockback: true
                        stun: true
                        movement: true
                      attributes:
                        slashResist: null
                        electricResist: null
                        fireResist: null
                        constitution: null
                        constant: null
                        strength: null
                        willpower: null
                        pierceResist: null
                        stamina: null
                        life: null
                        intelligence: null
                        dexterity: null
                        poisonResist: null
                        mana: null
                    radius: null
                    damageType: null
                    target: none
                  requirements: null
                  price: 9
                  name: name
                  icon: icon
                  attributes: null
                  unidentified: true
                  id: id
                  slot: null
                - skills:
                  - duration: null
                    targetEffects: null
                    cost: null
                    name: name
                    flags:
                      requiresLineOfSight: true
                      requiresOutOfCombat: true
                      passive: true
                    range: null
                    damageAmount: null
                    id: id
                    casterEffects:
                      summons:
                      - waypoint:
                          destinationFloor: 6
                        item: null
                        skill: null
                        decoration:
                          name: name
                          icon: icon
                          type: type
                        key:
                          doors:
                          - null
                          - null
                        monster: null
                      - waypoint:
                          destinationFloor: 6
                        item: null
                        skill: null
                        decoration:
                          name: name
                          icon: icon
                          type: type
                        key:
                          doors:
                          - null
                          - null
                        monster: null
                      flags:
                        groundEffect: true
                        knockback: true
                        stun: true
                        movement: true
                      attributes:
                        slashResist: null
                        electricResist: null
                        fireResist: null
                        constitution: null
                        constant: null
                        strength: null
                        willpower: null
                        pierceResist: null
                        stamina: null
                        life: null
                        intelligence: null
                        dexterity: null
                        poisonResist: null
                        mana: null
                    radius: null
                    damageType: null
                    target: none
                  - duration: null
                    targetEffects: null
                    cost: null
                    name: name
                    flags:
                      requiresLineOfSight: true
                      requiresOutOfCombat: true
                      passive: true
                    range: null
                    damageAmount: null
                    id: id
                    casterEffects:
                      summons:
                      - waypoint:
                          destinationFloor: 6
                        item: null
                        skill: null
                        decoration:
                          name: name
                          icon: icon
                          type: type
                        key:
                          doors:
                          - null
                          - null
                        monster: null
                      - waypoint:
                          destinationFloor: 6
                        item: null
                        skill: null
                        decoration:
                          name: name
                          icon: icon
                          type: type
                        key:
                          doors:
                          - null
                          - null
                        monster: null
                      flags:
                        groundEffect: true
                        knockback: true
                        stun: true
                        movement: true
                      attributes:
                        slashResist: null
                        electricResist: null
                        fireResist: null
                        constitution: null
                        constant: null
                        strength: null
                        willpower: null
                        pierceResist: null
                        stamina: null
                        life: null
                        intelligence: null
                        dexterity: null
                        poisonResist: null
                        mana: null
                    radius: null
                    damageType: null
                    target: none
                  requirements: null
                  price: 9
                  name: name
                  icon: icon
                  attributes: null
                  unidentified: true
                  id: id
                  slot: null
                stun:
                  isImmune: true
                  isStunned: true
                score: 3.5571952
                effects:
                - duration: 6
                  effects:
                    slashResist: 1.0246457
                    electricResist: 1.1730742
                    fireResist: 6.846853
                    constitution: 1.2315135
                    constant: 9.36931
                    strength: 3.6160767
                    willpower: 7.386282
                    pierceResist: 1.4894159
                    stamina: 5.025005
                    life: 4.9652185
                    intelligence: 4.145608
                    dexterity: 2.027123
                    poisonResist: 7.4577446
                    mana: 9.965781
                  damageAmount: 9.301444
                  damageType: none
                  CasterId: CasterId
                - duration: 6
                  effects:
                    slashResist: 1.0246457
                    electricResist: 1.1730742
                    fireResist: 6.846853
                    constitution: 1.2315135
                    constant: 9.36931
                    strength: 3.6160767
                    willpower: 7.386282
                    pierceResist: 1.4894159
                    stamina: 5.025005
                    life: 4.9652185
                    intelligence: 4.145608
                    dexterity: 2.027123
                    poisonResist: 7.4577446
                    mana: 9.965781
                  damageAmount: 9.301444
                  damageType: none
                  CasterId: CasterId
                faction: faction
                maxAttributes: null
                name: name
                attributes: null
                id: id
                items:
                - name: name
                  icon: icon
                  slot: head
                - name: name
                  icon: icon
                  slot: head
                algorithm: algorithm
              decorations:
              - null
              - null
              position:
                positionY: 7
                positionX: 2
              portal: null
              items:
              - null
              - null
              isStairs: true
              isWall: true
            width: 6
            height: 1
          - deprecationInSeconds: 5
            playerMap:
            - distance: 3
              lineOfSight: true
              position: null
            - distance: 3
              lineOfSight: true
              position: null
            horror: 5.962134
            fogOfWar:
            - fogOfWar: true
              position: null
            - fogOfWar: true
              position: null
            level: 0
            objects:
            - isSpawn: true
              effects:
              - null
              - null
              isFree: true
              players:
              - score: 2.8841622
                effects:
                - null
                - null
                money: 1
                equip:
                - null
                - null
                lastDamageTaken: 6
                skillPoints: 6.778325
                maxAttributes: null
                name: name
                coordinates:
                  positionY: 3
                  level: 5
                  positionX: 6
                attributes: null
                id: id
                stun: null
              - score: 2.8841622
                effects:
                - null
                - null
                money: 1
                equip:
                - null
                - null
                lastDamageTaken: 6
                skillPoints: 6.778325
                maxAttributes: null
                name: name
                coordinates:
                  positionY: 3
                  level: 5
                  positionX: 6
                attributes: null
                id: id
                stun: null
              isDoor: true
              monsters:
              - onDeath:
                - null
                - null
                lastDamageTaken: 6
                lifePercentage: 8.762042
                icon: icon
                equippedItems:
                - skills:
                  - duration: null
                    targetEffects: null
                    cost: null
                    name: name
                    flags:
                      requiresLineOfSight: true
                      requiresOutOfCombat: true
                      passive: true
                    range: null
                    damageAmount: null
                    id: id
                    casterEffects:
                      summons:
                      - waypoint:
                          destinationFloor: 6
                        item: null
                        skill: null
                        decoration:
                          name: name
                          icon: icon
                          type: type
                        key:
                          doors:
                          - null
                          - null
                        monster: null
                      - waypoint:
                          destinationFloor: 6
                        item: null
                        skill: null
                        decoration:
                          name: name
                          icon: icon
                          type: type
                        key:
                          doors:
                          - null
                          - null
                        monster: null
                      flags:
                        groundEffect: true
                        knockback: true
                        stun: true
                        movement: true
                      attributes:
                        slashResist: null
                        electricResist: null
                        fireResist: null
                        constitution: null
                        constant: null
                        strength: null
                        willpower: null
                        pierceResist: null
                        stamina: null
                        life: null
                        intelligence: null
                        dexterity: null
                        poisonResist: null
                        mana: null
                    radius: null
                    damageType: null
                    target: none
                  - duration: null
                    targetEffects: null
                    cost: null
                    name: name
                    flags:
                      requiresLineOfSight: true
                      requiresOutOfCombat: true
                      passive: true
                    range: null
                    damageAmount: null
                    id: id
                    casterEffects:
                      summons:
                      - waypoint:
                          destinationFloor: 6
                        item: null
                        skill: null
                        decoration:
                          name: name
                          icon: icon
                          type: type
                        key:
                          doors:
                          - null
                          - null
                        monster: null
                      - waypoint:
                          destinationFloor: 6
                        item: null
                        skill: null
                        decoration:
                          name: name
                          icon: icon
                          type: type
                        key:
                          doors:
                          - null
                          - null
                        monster: null
                      flags:
                        groundEffect: true
                        knockback: true
                        stun: true
                        movement: true
                      attributes:
                        slashResist: null
                        electricResist: null
                        fireResist: null
                        constitution: null
                        constant: null
                        strength: null
                        willpower: null
                        pierceResist: null
                        stamina: null
                        life: null
                        intelligence: null
                        dexterity: null
                        poisonResist: null
                        mana: null
                    radius: null
                    damageType: null
                    target: none
                  requirements: null
                  price: 9
                  name: name
                  icon: icon
                  attributes: null
                  unidentified: true
                  id: id
                  slot: null
                - skills:
                  - duration: null
                    targetEffects: null
                    cost: null
                    name: name
                    flags:
                      requiresLineOfSight: true
                      requiresOutOfCombat: true
                      passive: true
                    range: null
                    damageAmount: null
                    id: id
                    casterEffects:
                      summons:
                      - waypoint:
                          destinationFloor: 6
                        item: null
                        skill: null
                        decoration:
                          name: name
                          icon: icon
                          type: type
                        key:
                          doors:
                          - null
                          - null
                        monster: null
                      - waypoint:
                          destinationFloor: 6
                        item: null
                        skill: null
                        decoration:
                          name: name
                          icon: icon
                          type: type
                        key:
                          doors:
                          - null
                          - null
                        monster: null
                      flags:
                        groundEffect: true
                        knockback: true
                        stun: true
                        movement: true
                      attributes:
                        slashResist: null
                        electricResist: null
                        fireResist: null
                        constitution: null
                        constant: null
                        strength: null
                        willpower: null
                        pierceResist: null
                        stamina: null
                        life: null
                        intelligence: null
                        dexterity: null
                        poisonResist: null
                        mana: null
                    radius: null
                    damageType: null
                    target: none
                  - duration: null
                    targetEffects: null
                    cost: null
                    name: name
                    flags:
                      requiresLineOfSight: true
                      requiresOutOfCombat: true
                      passive: true
                    range: null
                    damageAmount: null
                    id: id
                    casterEffects:
                      summons:
                      - waypoint:
                          destinationFloor: 6
                        item: null
                        skill: null
                        decoration:
                          name: name
                          icon: icon
                          type: type
                        key:
                          doors:
                          - null
                          - null
                        monster: null
                      - waypoint:
                          destinationFloor: 6
                        item: null
                        skill: null
                        decoration:
                          name: name
                          icon: icon
                          type: type
                        key:
                          doors:
                          - null
                          - null
                        monster: null
                      flags:
                        groundEffect: true
                        knockback: true
                        stun: true
                        movement: true
                      attributes:
                        slashResist: null
                        electricResist: null
                        fireResist: null
                        constitution: null
                        constant: null
                        strength: null
                        willpower: null
                        pierceResist: null
                        stamina: null
                        life: null
                        intelligence: null
                        dexterity: null
                        poisonResist: null
                        mana: null
                    radius: null
                    damageType: null
                    target: none
                  requirements: null
                  price: 9
                  name: name
                  icon: icon
                  attributes: null
                  unidentified: true
                  id: id
                  slot: null
                stun:
                  isImmune: true
                  isStunned: true
                score: 3.5571952
                effects:
                - duration: 6
                  effects:
                    slashResist: 1.0246457
                    electricResist: 1.1730742
                    fireResist: 6.846853
                    constitution: 1.2315135
                    constant: 9.36931
                    strength: 3.6160767
                    willpower: 7.386282
                    pierceResist: 1.4894159
                    stamina: 5.025005
                    life: 4.9652185
                    intelligence: 4.145608
                    dexterity: 2.027123
                    poisonResist: 7.4577446
                    mana: 9.965781
                  damageAmount: 9.301444
                  damageType: none
                  CasterId: CasterId
                - duration: 6
                  effects:
                    slashResist: 1.0246457
                    electricResist: 1.1730742
                    fireResist: 6.846853
                    constitution: 1.2315135
                    constant: 9.36931
                    strength: 3.6160767
                    willpower: 7.386282
                    pierceResist: 1.4894159
                    stamina: 5.025005
                    life: 4.9652185
                    intelligence: 4.145608
                    dexterity: 2.027123
                    poisonResist: 7.4577446
                    mana: 9.965781
                  damageAmount: 9.301444
                  damageType: none
                  CasterId: CasterId
                faction: faction
                maxAttributes: null
                name: name
                attributes: null
                id: id
                items:
                - name: name
                  icon: icon
                  slot: head
                - name: name
                  icon: icon
                  slot: head
                algorithm: algorithm
              - onDeath:
                - null
                - null
                lastDamageTaken: 6
                lifePercentage: 8.762042
                icon: icon
                equippedItems:
                - skills:
                  - duration: null
                    targetEffects: null
                    cost: null
                    name: name
                    flags:
                      requiresLineOfSight: true
                      requiresOutOfCombat: true
                      passive: true
                    range: null
                    damageAmount: null
                    id: id
                    casterEffects:
                      summons:
                      - waypoint:
                          destinationFloor: 6
                        item: null
                        skill: null
                        decoration:
                          name: name
                          icon: icon
                          type: type
                        key:
                          doors:
                          - null
                          - null
                        monster: null
                      - waypoint:
                          destinationFloor: 6
                        item: null
                        skill: null
                        decoration:
                          name: name
                          icon: icon
                          type: type
                        key:
                          doors:
                          - null
                          - null
                        monster: null
                      flags:
                        groundEffect: true
                        knockback: true
                        stun: true
                        movement: true
                      attributes:
                        slashResist: null
                        electricResist: null
                        fireResist: null
                        constitution: null
                        constant: null
                        strength: null
                        willpower: null
                        pierceResist: null
                        stamina: null
                        life: null
                        intelligence: null
                        dexterity: null
                        poisonResist: null
                        mana: null
                    radius: null
                    damageType: null
                    target: none
                  - duration: null
                    targetEffects: null
                    cost: null
                    name: name
                    flags:
                      requiresLineOfSight: true
                      requiresOutOfCombat: true
                      passive: true
                    range: null
                    damageAmount: null
                    id: id
                    casterEffects:
                      summons:
                      - waypoint:
                          destinationFloor: 6
                        item: null
                        skill: null
                        decoration:
                          name: name
                          icon: icon
                          type: type
                        key:
                          doors:
                          - null
                          - null
                        monster: null
                      - waypoint:
                          destinationFloor: 6
                        item: null
                        skill: null
                        decoration:
                          name: name
                          icon: icon
                          type: type
                        key:
                          doors:
                          - null
                          - null
[...]
